.dollhouse-page .container {
    width: 72%;
}
.dollhouse-page{
    background-image: url('../images/dollhouse/dollhouse.jpg');
    background-repeat: no-repeat;  
    background-size:cover; 
    top: 0px;
    bottom: 0px;
    position: relative;
    background-position: 0 0;
    left: 0px;
    right: 0px;
    min-height: 1500px;
}
.dollhouse-page h1{
    height: 98px;
    margin-top: 0;
    color: #00c7df;
    padding: 80px 0;
    font-size: 40px;
    font-weight: bold;
    line-height: 2.45;
    margin-bottom: 43px;
}
.dollhouse-page .left-para{
    padding: 0;
}
.dollhouse-page .dollhouse-text{
    width: 87%;
    height: 188px;
    font-size: 18px;
    line-height: 1.56;
    color: #ffffff;
}
.dollhouse-page .bold{
    font-weight: 600;
    line-height: 2.5;
}
.dollhouse-page .right-para-text{
    margin-left: 5%;
    height: 112px;
    margin-top: 213px;
    width: 105%;
}
.dollhouse-page .contact-us-link{
    height: 55px;
    background-color: #007f8c;
    color: #ffffff;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    margin-left: 5%;
    margin-top: 60px;
    padding: 15px 0;
    width: 49%;
    border-radius: 0;
}
.dollhouse-page .btn:hover{
    background: #00c7df;
    color: white;
}
.dollhouse-page .btn:focus{
    background-color: #007f8c;
    color: #23527c;
    text-decoration: underline;
}
.dollhouse-page .col-xs-6{
    padding: 0;
}
.dollhouse-page .popup-h1 {
    margin-top: -33px !important;
}
.dollhouse-page .tablet-slider{
    display: none;
}

@media screen and (max-width: 1440px) {
    .dollhouse-page{
        min-height: 1257px;
    }
    .dollhouse-page .contact-us-link{
        width: 52%;
    }
}

@media screen and (max-width: 1200px) {
    .dollhouse-page .contact-us-link{
        margin-top: 110px;
        width: 64%;
    }
    .dollhouse-page h1{
        width: 445px;
    }
}

@media screen and (max-width: 1024px) {
    .dollhouse-page .container {
        width: 82%;
    }
    .dollhouse-page{
        min-height: 998px;
    }
    .dollhouse-page h1{
        font-size: 30px;
        margin-bottom: 0px;
        line-height: 1.33;
        padding: 36px 0;
    }
    .dollhouse-page .dollhouse-text{
        font-size: 16px;
        width: 100%;
    }
    .dollhouse-page .right-para-text{
        margin-top: 111px;
        margin-left: 15%;
    }
    .dollhouse-page .contact-us-link{
        height: 46px;
        margin-left: 15%;
        margin-top: 85px;
        width: 75%;
        padding: 10px 0;
    }
    .dollhouse-page .popup-h1 {
        margin-top: 19px !important;
    }
    .dollhouse-page .desktop-slider{
        display: none;
    }
    .dollhouse-page .tablet-slider{
        display: block;
    }
}

@media screen and (max-width: 830px) {
    .dollhouse-page .contact-us-link{
        margin-top: 112px;
        width: 85%;
    }
}
@media screen and (max-width: 767px) {
    .dollhouse-page .container {
        width: 100%;
    }
    .dollhouse-page{
        background-image: none;
        background-color: black;
        min-height: 948px;
    }
    .dollhouse-page h1{
        font-size: 24px;
        height: 64px;
        width: 142px;
        line-height: 1.33;
        padding: 0 5%;
        margin-top: 50px;
        margin-bottom: 29px;
    }
    .dollhouse-page .dollhouse-text{
        font-size: 14px;
        padding: 0 5%;
        margin-bottom: 0;
    }
    .dollhouse-page .right-para-text{
        margin-left: 0;
        margin-top: 40px;
    }
    .dollhouse-page .contact-us-link{
        margin-left: 5%;
        margin-top: 74px;
        width: 90%;
        font-size: 16px;
    }
    .dollhouse-page .bkg-img {
        background-image: url('../images/dollhouse/dollhouse.jpg');
        background-repeat: no-repeat;  
        background-size:cover; 
        top: 0px;
        bottom: 0px;
        position: relative;
        background-position: 0 0;
        left: 0px;
        right: 0px;
        height: 287px;
        padding-top: 110px;
    }
    .dollhouse-page .navbar-header{
        padding: 0 5%;
    }
    .dollhouse-page .col-xs-12{
        padding: 0;
    }
}