.popup-video{
    margin: 0;
    padding: 0;
}
.ngdialog.ngdialog-theme-default .ngdialog-content{
    background: transparent;
    border-radius: 0;
    width: 1000px; 
}
iframe{
    border-color: transparent;
    width: 1000px; 
    height: 700px;
    margin: 0;
    padding: 0;
}
.ngdialog.ngdialog-theme-default .ngdialog-close{
    border: solid 2px white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    right: -34px;
    top: -3px;
    background: black;
}
.ngdialog.ngdialog-theme-default .ngdialog-close:before{
    font-size: 32px;
}

@media screen and (max-width: 1200px) {
    .ngdialog.ngdialog-theme-default .ngdialog-content{
        width: 767px; 
    }
    iframe{
        width: 767px;
        height: 500px;
    }
}

@media screen and (max-width: 767px) {
    .ngdialog.ngdialog-theme-default .ngdialog-content{
        width: 100%;
    }
    iframe{
        width: 100%;
        height: 380px;
    }
    .ngdialog.ngdialog-theme-default .ngdialog-close{
        border: solid 1px white;
        width: 23px;
        height: 23px;
        right: 7px;
        top: 6px;
    }
    .ngdialog.ngdialog-theme-default .ngdialog-close:before{
        font-size: 17px;
        padding: 0;
        line-height: 22px;
    }
}

@media screen and (max-width: 600px) {
    iframe{
        height: 300px;
    }
}

@media screen and (max-width: 400px) {
    iframe{
        height: 200px;
    }
    .ngdialog.ngdialog-theme-default .ngdialog-close{
        top: 5%;
    }
}