body{
    font-family: 'Open Sans', sans-serif;
}
.wrapper .container {
    width: 72%;
}
#preloader {
    background-color: #101524;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.loader {
    background: /*url(../../asset/images/puff.svg)*/ no-repeat scroll center center transparent;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
header.header{
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 99;
}
.sticky header {
    background: rgba(0, 0, 0, 1);
    color: #005155;
    text-align: left;
    padding-bottom: 0px;
    transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    box-shadow: 0px 1px 10px #000;
    -webkit-box-shadow: 0px 1px 10px #000;
    -moz-box-shadow: 0px 1px 10px #000;
} 
.navbar-fixed-bottom{
    bottom: inherit;
}
.navbar-default{
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-nav>li>a:visited, .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
}
.navbar-default .navbar-brand{
    color: #ffffff;
}
.navbar-brand{
    padding: 0;
}
.col-sm-12{
    padding: 0;
}
.navbar-brand>img{
    margin-top: 13px;
}
.navbar-nav>li{
    margin-top: 30px;
}
.navbar-nav>li>a{
    padding-bottom: 22px;
    font-size: 16px;
    font-weight: 600;
}
.navbar-nav>li>a:after, .navbar-nav>li>a:before{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all 280ms ease-in-out;
    -moz-transition: all 280ms ease-in-out;
    transition: all 280ms ease-in-out;
    width: 0;
}
.navbar-nav>li>a:hover:before{
    bottom: auto;
    top: 0;
    width: 70%;
}
.navbar-nav>li>a:hover:after, .navbar-nav>li>a:hover:before{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-color: #fff;
    -webkit-transition: width 350ms ease-in-out;
    -moz-transition: width 350ms ease-in-out;
    transition: width 350ms ease-in-out;
    width: 70%;
}
.navbar{
    margin-bottom: 0;
    border: 0;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: transparent;
    color: #00a9bd;
}
.fa-caret-down{
    display: block !important;
    font-size: 30px !important;
    text-align: center;
}
.navbar-nav>li>.dropdown-menu{
    margin-top: 35px;
    left: -40px;
}
.dropdown-menu{
    background-color: #000000;
    width: 200px;
    height: 164px;
}
.dropdown-menu>li>a{
    color: #ffffff;
    height: 19px;
    letter-spacing: 0.2px;
    margin-top: 18px;
}
.dropdown-menu>li>.s4u{
    margin-top: 30px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    background-color: #000000;
    color: #00a9bd;
}
.news-section{
    display: none !important;
}
.section-1{
    background-image:url('../images/HP/Hero_hp.jpg'); 
    background-repeat: no-repeat;
	background-size:cover;  
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 1200px;
}
.section-1-para{
    margin-top: 296px;
}
.section-1-h1{
    font-size: 90px;
    line-height: 1.09;
    color: #00c7df;
    width: 498px;
}
.section-1-p{
    font-size: 18px;
    line-height: 1.56;
    color: #ffffff;
}
.section-1-p-2{
    width: 454px;
    margin-top: -10px;
}
.fa-angle-right{
    padding-left: 5px;
}
.btnajsS4u{
    width: 263px !important;
    height: 55px !important;
    margin-top: 28px;
    padding: 15px 0 !important;
}
.beta-link {
    height: 55px;
    padding: 15px 0;
    background-color: #007f8c;
    color: #ffffff;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    width: 26%;
    border-radius: 0;
    margin-top: 44px;
    margin-bottom: 269px;
}
.btn:hover{
    background: #00c7df;
    color: white;
}
.btn:focus{
    background-color: #007f8c;
    color: #23527c;
    text-decoration: underline;
}
.hp-popup-h1{
    margin-top: 59px !important;
    margin-bottom: 14px !important;
    text-align: center;
}
.section-2{
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
    padding: 11rem 0;
}
.section-2-video{
    width: 100%;
}
h1{
    margin-top: 0;
}
.section-2-para{
    margin-top: 130px;
}
.section-2-h1{
    font-size: 40px;
    font-weight: 500;
    line-height: 2.63;
    text-align: left;
    color: #00c7df;
}
.section-2-p{
    font-size: 18px;
    line-height: 1.56;
    color: #ffffff;
    margin-top: 16px;
}
.welcome-image{
    display: none;
}
.section-3{
    background-image:url('../images/HP/technology.jpg'); 
    background-repeat: no-repeat;
	background-size:cover;  
    width: 100%;
    margin: 0;
    padding: 0;
    background-position: center center;
    background-attachment: fixed;
    min-height: 960px;
    position: relative;
    color: #fff;
}
.section-3-para{
    text-align: center;
    margin-top: 275px;
    color: #ffffff;
}
.video-popup{
    background-color: transparent;
    border: 0;
}
.section-3-h1{
    font-size: 40px;
    font-weight: bold;
    line-height: 2.63;
    margin-top: 26px;
    color: #00c7df;
}
.section-3-p{
    font-size: 18px;
    line-height: 1.56;
    margin:  0 auto;
    width: 588px;
}

.section-4{
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
figure{
    margin: 0;
}
.search4unity-image{
    display: none;
}
.section-4-video-1{
    position: absolute;
    top: 135px;
    width: 125%;
}
.section-4-video-2{
    position: absolute;
    top: 320px;
    width: 143%;
}
.section-4-video-3{
    position: absolute;
    top: 54%;
    left: 0;
    width: 52%;
}
.section-4-video-1>source, .section-4-video-2>source, .section-4-video-3>source{
    display: block;
    max-width: 100%;
    height: auto;
}
.section-4-img-1{
    display: none;
}
.section-4-img-2{
    display: none;
}
.section-4-para-1{
    margin-top: 430px;
    text-align: center;
    margin-left: 165px;
    width: 90%;
}
.section-4-para-1-search{
    margin-top: 600px;
    text-align: center;
}
.section-4-para-2{
    margin-top: 600px;
    margin-bottom: 470px;
    text-align: center;
    margin-left: 200px;
}
.section-4-h1-1{
    font-size: 40px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}
.section-4-p-1{
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 25px;
}
.cnt-right{
    float: right;
}
.btnajs{
    background-color: #007f8c;
    width: 178px;
    height: 49px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    border: 0;
    border-radius: 0;
    padding: 12px 0;
}
.btn:hover, .btnajs:hover{
    background: #00c7df;
    color: white;
}
.btn:focus, .btnajs:focus{
    background-color: #007f8c;
    color: #23527c;
    text-decoration: underline;
}
.section-5{
    background-image:url('../images/HP/work.jpg'); 
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    background-attachment: fixed;
	background-size:cover;  
    min-height: 1574px;
    width: 100%;
    margin: 0;
    padding: 0;
}
.section-5-para{
    color: #ffffff;
}
.section-5-h1{
    font-size: 40px;
    font-weight: 500;
    margin-top: 159px;
    color: #00c7df;
}
.section-5-h1-2{
    line-height: 1.4;
}
.section-5-p{
    width: 42%;
    font-size: 18px;
    line-height: 1.56;
    margin-top: 39px;
    margin-bottom: 45px;
}
label{
    font-size: 18px;
    line-height: 1.56;
    margin-top: 13px;
    font-weight: 100;
    margin-bottom: 7px;
}
.form-control{
    background-color: transparent !important;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 0;
    color: white;
}
.button-style{
    float: right;
    margin-top: 23px !important;
    margin-bottom: 144px !important;
}
.section-5-p-2{
    font-size: 18px;
    line-height: 1.56;
    margin-top: 355px;
    color: #ffffff;
}
.social-links{
    margin-top: 35px;
}
.social-links> a{
    padding-right: 9px;
}
.has-error {
  border: solid 1px red;
}
.section-6{
    display: none;
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    padding: 5rem 0 8rem;
    min-height: 911px;
}
.section-6-h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #00a9bd;
    margin-bottom: 90px;
    margin-top: 45px;
}
.section-6-img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 36px;
}
.time{
    font-size: 85%;
    margin-bottom: 7px;
    color: #ffffff;
}
.section-6-p{
    font-size: 18px;
    color: #ffffff;
    margin: 0 0 10px;
}
.section-6-h4{
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
}
.section-6-h4 a{
    color: #ffffff;
}
.btn-sec-6{
    height: 39px;
    margin-top: 43px;
    padding: 0;
    width: 50%;
}
.logo-mobile{
    display: none;
}
.sec-1-mobile-img{
        display: none;
}
.text-success {
    color: #ffffff;
}

@media screen and (max-width: 1920px) {
    .section-4-container{
        min-height: 1313px;
        padding-bottom: 81px;
    }
    .section-4-para-1{
        margin-top: 362px;
        margin-left: 120px;
        width: 109%;
    }
    .section-4-video-2{
        top: 210px;
    }
    .section-4-para-1-search{
        margin-top: 520px;
    }
    .section-4-para-2{
        margin-top: 490px;
        margin-bottom: 238px;
        width: 91%;
    }
    .section-4-video-3{
        top: 57%;
    }
}

@media screen and (max-width: 1650px) {
    .section-4-video-3{
        top: 60%;
    }
    .section-4-para-2{
        margin-top: 450px;
        margin-left: 160px;
    }
    .section-4-para-1-search{
        margin-top: 420px;
    }
}

@media screen and (max-width: 1440px) {
    .navbar-nav>li>a {
        padding: 15px 10px 8px 10px;
        font-size: 14.8px;
    }
    .navbar-nav>li>.dropdown-menu{
        left: -55px;
    }
    .section-2-h1{
        width: 116%;
    }
    .section-4{
        padding-bottom: 81px;
    }
    .section-4-container{
        min-height: 875px;
    }
    .section-4-video-3{
        bottom: 70px;
        top: 60%;
    }
    .section-4-para-1{
        margin-top: 297px;
        margin-left: 90px;
    }
    .section-4-para-1-search{
        margin-top: 390px;
    }
    .section-4-para-2{
        margin-top: 310px;
        margin-left: 140px;
        margin-bottom: 70px;
    }
    .section-4-h1-1{
        font-size: 30px;
    }
    .section-4-p-1{
        font-size: 16px;
    }
    .section-5-p-2{
        margin-top: 425px;
    }
}

@media screen and (max-width: 1200px) {
    .navbar-nav>li>a {
        padding: 15px 7.5px 8px 7.5px;
        font-size: 14px;
    }
    .section-2-para{
        margin-top: 80px;
    }
    .section-2-h1{
        font-size: 34px;
    }
    .section-2-p{
        font-size: 15px;
    }
    .section-4-para-1{
        margin-top: 255px;
        width: 105%;
    }
    .section-4-para-1-search{
        margin-top: 350px;
    }
    .section-4-para-2{
        margin-top: 265px;
        width: 100%;
        margin-left: 100px;
    }
    .section-4-video-3{
        top: 63%;
        width: 49%;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper .container {
        width: 82%;
    }
    .navbar-brand>img{
        width: 125px;
        height: 42px;
    }
    .navbar-nav>li{
        margin-top: 20px;
    }
    .navbar-nav>li>a {
        padding: 15px 5.5px 8px 5.5px;
    }
    .section-1{
        min-height: 593px;
    }
    .section-1-para{
        margin-top: 139px;    
    }
    .section-1-h1{
        font-size: 40px;
        line-height: 1.18;
    }
    .section-1-p{
        font-size: 16px; 
        width: 307px;
    }
    .section-1-p-2{
        width: 270px;
        margin-top: 20px;
    }
    .btnajsS4u{
        width: 163px !important;
        height: 43px !important;
        margin-top: 23px;
        padding: 9px 0 !important;
        margin-bottom: 125px;
    }
    .beta-link{
        margin-top: 29px;
        height: 43px;
        width: 163px;
        margin-bottom: 135px;
        padding: 9px 0;
    }
    .section-2{
        padding: 9rem 0;
    }
    .section-2-video{
        margin-top: -60px;
    }
    .section-2-para{
        margin-top: 30px;
    }
    .section-2-h1{
        font-size: 30px;
        line-height: 1.33;
    }
    .section-2-p{
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .section-3{
        min-height: 513px;
    }
    .video-popup>img{
        width: 85px;
        height: 85px;
    }
    .section-3-para{
        margin-top: 81px;
    }
    .section-3-h1{
        font-size: 30px;
        margin-top: 15px;
        line-height: 3.5;
    }
    .section-3-p{
        font-size: 16px;
        margin-top: -40px;
        margin-bottom: 76px;
        width: 514px;
    }
    .section-4-container{
        min-height: 790px;
        padding-bottom: 0px;
    }
    .section-4-video-2{
        width: 117%;
        top: 160px;
    }
    .section-4-para-1{
        margin-left: 90px;
        width: 87%;
        margin-top: 230px;
    }
    .section-4-para-2{
        margin-left: 40px;
        margin-bottom: 150px;
    }
    .section-4-para-1-search{
        margin-top: 240px;
    }
    .section-4-video-3{
        top: 64%;
    }
    .section-5{
        min-height: 882px;
    }
    .section-5-h1{
        margin-top: 143px;
        font-size: 30px;
    }
    .section-5-h1-2{
        width: 76%;
        margin-top: 139px;
    }
    .section-5-p{
        width: 100%;
        font-size: 16px;
    }
    .section-5-p-2{
        margin-top: -380px;
    }
    .btnajs{
        height: 40px !important;
        padding: 7px 0;
        width: 143px;
    }
    .button-style{
        width: 178px;
    }
    .section-6{
        min-height: 675px;
    }
    .section-6-h1{
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 67px;
    }
    .btn-sec-6{
        width: 73%;
    }
}

@media screen and (max-width: 1024px) and (min-width: 992px) {
    .section-5 .col-sm-6{
        width: 50%;
    }
}

@media screen and (max-width: 890px) {
    .section-2-para{
        margin-top: 0px;
    }
    .section-2-h1{
        font-size: 26px;
    }
    .section-2-p{
        font-size: 14px;
    }
    .section-4-para-1{
        margin-left: 85px;
        margin-top: 193px;
        width: 96%;
    }
    .section-4-para-2{
        margin-top: 240px;
        margin-bottom: 77px;
        margin-left: 20px;
        width: 118%;
    }
    .section-4-video-3{
        top: 69%;
    }
}

@media screen and (max-width: 767px) {
    .wrapper .container {
        width: 100%;
    }
    .logo-mobile{
        display: block;
        padding-left: 0;
    }
    .logo-desktop{
        display: none;
    }
    .mobile-bottom{
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        z-index: 1030;
    }
    .navbar-header{
        padding: 0 5% 20px 5%;
    }
    .navbar-brand{
        height: 0;
        padding: 10px 0px;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        border-color: transparent;
    }
    .navbar-collapse{
        padding: 0 5%;
    }
    .navbar-default{
        background-color: black;
    }
    .navbar-default .navbar-toggle{
        border: 0px;
        color: #ffffff;
    }
    .navbar-toggle{
        padding: 0px;
        margin-bottom: 0;
        margin-top: 30px;
        margin-right: 0px;
    }
    .navbar-toggle .icon-bar{
        width: 25px;
        border-radius: 0;
    }
    .navbar-brand{
        height: 0;
        padding: 3px 0px;
    }
    .navbar-brand>img{
        margin-top: 10px;
        width: 93px;
        height: 31px;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        border-color: transparent;
    }
    .navbar-collapse{
        padding: 0 5%;
    }
    .navbar-nav{
        margin: 0;
    }
    .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-nav>li>a:visited, .navbar-default .navbar-nav>li>a:focus{
        padding: 2px;
        text-align: center;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        text-align: center;
        color: white;
    }
    .fa-caret-down{
        font-size: 106% !important;
    }
    .section-1{
        background-image: none;
        background-color: black;
        min-height: 0px;
    }
    .sec-1-mobile-img{
        display: block;
    }
    .sec-1-mobile-img>img{
        width: 100%;
        height: 197px;
    }
    .section-1-para{
        margin-top: 0px;
        margin-left: 7%;
        margin-right: 7%;
    }
    .section-1-h1{
        font-size: 30px;
        width: 270px;
    }
    .section-1-p{
        font-size: 14px; 
        width: 257px;
    }
    .section-1-p-2{
        margin-top: 11px;
    }
    .btnajsS4u{
        width: 149px !important;
        height: 35px !important;
        margin-top: 15px;
        padding: 7px 0 !important;
        margin-bottom: 25px;
    }
    .beta-link{
        margin-top: 20px;
        height: 35px;
        width: 47%;
        margin-bottom: 14px;
        font-size: 16px;
        padding: 7px 0;
    }
    .hp-popup-h1{
        font-size: 14px;
        margin-top: 14px !important;
        margin-bottom: 0 !important;
        height: 26px;
    }
    .section-2{
        padding: 2rem 0;
    }
    .section-2-para{
        margin-top: 20px;
        padding: 0 7%;
    }
    .section-2-h1{
        font-size: 24px;
        line-height: 1.04;
        width: 279px;
    }
    .section-2-p{
        font-size: 14px;
    }
    video{
        display: none;
    }
    .welcome-image{
        display: block;
    }
    .welcome-image>img{
        max-width: 100%;
        height: auto;
    }
    .section-3{
        background-image: none;
        background-color: black;
        min-height: 533px;
    }
    .section-3-para{
        margin-top: 0px;
    }
    .sec-3-bkg-img{
        background-image:url('../images/HP/technology.jpg'); 
        background-repeat: no-repeat;
        background-size:cover;  
        width: 100%;
        height: 172px;
        margin: 0;
        padding: 0;
        background-position: center center;
        background-attachment: initial;
    }
    .video-popup>img{
        width: 48px;
        height: 48px;
        margin-top: 62px;
    }
    .section-3-h1{
        font-size: 24px;
        color: #00c7df;
        line-height: 1.33;
        text-align: left;
        font-weight: 500;
        padding: 0 7%;
        margin-top: 33px;
        height: 64px;
        margin-bottom: 28px;
    }
    .section-3-p{
        text-align: left;
        padding: 0 7%;
        font-size: 14px;
        width: 100%;
        margin-bottom: 33px;
    }
    .section-4{
        padding-bottom: 0;
    }
    .section-4-container{
        margin-bottom: -81px;
    }
    .section-4-container>.row{
        text-align: center;
    }
    .search4unity-image{
        display: block;
        margin-top: 50px;
    }
    .search4unity-image>img{
        width: 267px;
    }
    .section-4-para-1{
        margin-top: 30px;
        margin-left: 0;
        width: 100%;
    }
    .section-4-h1-1{
        font-size: 18px;
    }
    .section-4-p-1{
        font-size: 14px;
    }
    .section-4-para-1-search{
        margin-top: 350px;
    }
    .section-4-img-1{
        display: block;
        position: absolute;
        width: 95%;
        top: -345px;
    }
    .section-4-img-1>img{
        width: 267px !important;
    }
    .section-4-img-2{
        display: block;
        width: 100%;
        top: -72rem !important;
        position: relative;
        margin-bottom: -353px;
    }
    .section-4-para-2{
        margin-bottom: 40px;
        width: 98%;
        margin-left: 0;
    }
    .section-4-para-2>.section-4-h1-1{
        margin-top: 644px;
    }
    .section-4-img-2>img{
        width: 100%;
    }
    .section-5{
        min-height: 0px;
        background-image: none;
        background-color: black;
    }
    .bkg-img{
        position: relative;
        background-image:url('../images/HP/work.jpg'); 
        background-repeat: no-repeat;
        background-position: right;
        position: relative;
        background-size:cover;  
        width: 100%;
        height: 431px;
        margin: 0;
        padding: 0;
    }
    .section-5>.container{
        padding: 0;
    }
    .section-5-para{
        padding: 0;
    }
    .section-5-h1{
        width: 266px;
        margin-top: 40px;
        font-size: 24px;
        padding: 0 7%;
    }
    .section-5-h1-2{
        width: 100%;
        margin-top: 80px;
    }
    .section-5-p{
        margin-top: 0;
        margin-bottom: 24px;
        font-size: 14px;
        padding: 0 7%;
        width: 77%;
    }
    .section-5-p-2{
        margin-top: 51px;
    }
    .mobile-pad{
        padding: 0 7%;
    }
    .btnajs{
        font-size: 16px;
        width: 142px;
        padding: 9px 0;
    }
    .button-style{
        float: left;
        margin-bottom: 0 !important;
    }
    .sec-5-mobile{
        padding: 0;    
    }
    .social-links{
        margin-bottom: 100px;
    }
    .section-6-h1{
        text-align: left;
        padding: 0 7%;
        margin-bottom: -10px;
        font-size: 24px;
    }
    .section-6-h4, .section-6-p{
        font-size: 16px;
    }
    .sec-6-mobile-pad{
        padding: 0 7%;
    }
    .section-6-img{
        margin-bottom: 20px;
        margin-top: 50px;
    }
    .btn-sec-6{
        margin-top: 15px;
        width: 52%;
    }
}

@media screen and (max-width: 600px) {
    .section-4-img-2{
        top: -60rem !important;
        margin-bottom: -314px;
    }
    .section-4-para-2>.section-4-h1-1{
        margin-top: 524px;
    }
}

@media screen and (max-width: 460px) {
    .section-4-img-2{
        top: -49rem !important;
        margin-bottom: -217px;
    }
    .section-4-para-2>.section-4-h1-1{
        margin-top: 409px;
    }
}
