@use 'animations';
@use 'lato/stylesheet';

$colorPrimary: #00717B;
$colorPrimaryDark: #032225;
$colorPrimaryLight: #00A8BA;
$textColor: #032225;

$browser-context: 16; // Default

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.four-three {
  @include aspect-ratio(4, 3);
}

.twentyfive-seventeen {
  @include aspect-ratio(25,17);
}

@media screen and (max-width: 768px) {
  .twentyfive-seventeen:before {
    padding-top: 152%;
  }
}

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

body {
  font-family: 'Lato', sans-serif;
  color: $textColor;
  letter-spacing: 0.025rem;
  line-height: 1.533331;
}

.bg-light-o-80 {
  background-color: rgba(255,255,255, 0.8);
}

.h1 {
  font-weight: 900;
  font-size: 3rem;
}

.h2 {
  font-weight: 700;
  font-size: rem(40);
  letter-spacing: 0;
  @media screen and (max-width: rem(991)) {
    font-size: rem(23);
    line-height: rem(28);
  }
}

.h3 {
  font-weight: 700;
  font-size: rem(22);
  letter-spacing: 0;
  @media screen and (max-width: rem(991)) {
    font-size: rem(18);
    line-height: rem(22);
  }
}

.row {
  width: 100%;
}

.mimic-anchor {
  cursor: pointer;
  display: inline;
}

.pt-medium {
  padding-top: 2.25rem;
}

a,
a:hover,
.mimic-anchor,
.mimic-anchor:hover,
a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):hover {
  color: $colorPrimaryLight;
  text-decoration: none;
  font-weight: 400;
}

.clicky {
  cursor: pointer;
}

.no-wrap {
  flex-wrap: nowrap;
}

.primary-color {
  color: $colorPrimary;
}


.mh-300 {
 min-height: 300px;
}

.mh-250 {
  min-height: 250px;
}

.ws-nowrap {
  white-space: nowrap;
}
.headline {
  p:not(.h2) {
    font-size: rem(18);
    @media screen and (max-width: rem(991)) {
      font-size: rem(15);
      line-height: rem(22);
    }
  }
}
.panel {
  p {
    font-size: 1.125rem;
    font-weight: 900;
    span {
      display: block;
      font-size: rem(15);
      font-weight: 400;
    }
  }
}
.header {
  z-index: 9;
  .navbar {
    z-index: 1;
  }
}

.text-danger,
.valid-text {
  color: red;
}

.scale-0-8 {
  transform: scale(0.8);
}

.scale-0-9 {
  transform: scale(0.9);
}

.img-wrapper {
  //height: 90px;
}

.trade {
  font-size: 0.5em;
  top: -1rem;
}

.absolute-vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#vera-hero {
  @media screen and (max-width: rem(991)){
    color: #FFF;
  }
  overflow: hidden;
  .container {
    overflow: visible;
    @media screen and (max-width: rem(991)){
      &:before {
        content: " ";
        display: block;
        position: absolute;
        max-width: 100%;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url('../images/Resonai_Hero_CommercialRealState_new.png');
        background-size: cover;
        filter: brightness(0.75);
      }
    }
  }
  @media screen and (max-width: rem(991)) {
    .mobile-full {
      position: absolute;
      top:0;
      height: 100vh;
    }
  }
  h1 {
    font-size: 5rem;
    letter-spacing: 0;
    font-weight: 900;
    @media screen and (max-width: rem(991)) {
      font-size: rem(35);
    }
    sup {
      font-weight: 300;
      font-size: 1.875rem;
      top: -2.25rem;
      @media screen and (max-width: rem(991)) {
        font-size: rem(20);
        top: -1.25rem;
      }
    }
  }
  p {
    font-size: 1.5rem;
    line-height: rem(32);
    letter-spacing: 0;
    max-width: 600px;
    &.m-vertical-medium {
      margin-top: 2rem;
      margin-bottom: 2.5rem;
      @media screen and (max-width: rem(991)) {
        margin-top: rem(20);
        margin-bottom: rem(30);
      }
    }
    @media screen and (max-width: rem(991)) {
      font-size: rem(16);
      line-height: rem(22);
    }
  }
  .hero-container {
    height: 100vh;
    width: 50vw;
    background-image: url('../images/Resonai_Hero_CommercialRealState_new.png');
    background-size: cover;
    @media screen and (max-width: rem(991)){
      background-image: none;
    }
  }
}

#vera-business {
  p:not(.h2) {
    font-size: 1.125rem;
    letter-spacing: 0;
    @media screen and (max-width: rem(991)) {
      font-size: rem(15);
      line-height: rem(22);
    }
  }
  @media screen and (max-width: rem(991)) {
    .img-fluid {
      padding: 1rem 4rem 0;
    }
  }
}

#solutions {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .img-wrapper {
    height: initial;
    .panel-rounded {
      border-radius: 5px;
      box-shadow: none;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      padding: 0;
      margin: 0 0 0.875rem;
      @media screen and (max-width: rem(991)) {
        margin: 0 0 0.25rem;
      }
    }
  }
}

.section-highlights {
  .container {
    @media screen and (max-width: rem(991)) {
      padding-left: rem(28);
      padding-right: rem(28);
    }
  }
  ul {
    padding: 0;
    margin: 0;
    text-align: left;
    list-style-image: url('/images/home/check.svg');
    li {
      padding: 0 0 0 2rem;
      margin: 0 0 2.25rem 0;
      @media screen and (max-width: rem(991)) {
        padding: 0 0 0 0.75rem;
        letter-spacing: 0;
      }
      p {
        transition: all 500ms;
        &:not(.h3) {
          font-size: rem(15);
          line-height: rem(24);
          @media screen and (max-width: rem(991)) {
            line-height: rem(22);
          }
        }
      }
      &.active {
        list-style-image: url('/images/home/green-check.svg');
        .h3 {
          color: $colorPrimaryLight;
        }
        p.info {
          opacity: 1;
          visibility: visible;
          height: rem(115);
          padding-top: .5rem!important;
          padding-bottom: .5rem!important;
          @media screen and (max-width: rem(991)){
            height: rem(140);
          }
        }
      }
      p.info {
        opacity: 0;
        visibility: hidden;
        height: 0;
        padding-top: 0!important;
        padding-bottom: 0!important;
      }
    }
  }
}

.full-width {
  width: 100vw;
  max-width: 100%;
}
#created-on-vera {
  .container {
    position: relative;
    @media screen and (max-width: rem(991)) {
      padding-left: rem(34);
      padding-right: rem(34);
    }
  }
  .col {
    min-width: 432px;
    max-width: 432px;
    @media screen and (max-width: rem(991)) {
      min-width: 301px;
      max-width: 301px;
    }
  }
  .scrollable {
    img {
      max-height: rem(241);
      width: 100%;
      object-fit: cover;
    }
  }
}

#press {
  .container {
    position: relative;
    @media screen and (max-width: rem(991)) {
      padding-left: rem(34);
      padding-right: rem(34);
    }
  }
  .col {
    min-width: 432px;
    max-width: 432px;
  }
  .panel-rounded {
    height: 100%;
    min-height: 230px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 10px #B1B1B126;
    &.py-4 {
      padding-top: 2.25rem!important;
      padding-bottom: 2.25rem!important;
    }
  }
  .btn-wrapper {
    position: absolute;
    bottom: 2.25rem;
  }
  p:not(.h2) {
    font-size: rem(17);
  }
}

.scrollable {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  cursor: grab;
  &.scrolling {
    cursor: grabbing;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  .col,
  .col img {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
  }
  .action-control {
    position: absolute;
    line-height: rem(230);
    font-size: 2.5rem;
    color: $colorPrimaryLight;
    z-index: 1;
    cursor: pointer;
    &.go-left {
      left: -10px;
    }
    &.go-right {
      right: -10px;
    }
  }
}

.unity-logo {
  position: relative;
  bottom: 1px;
  width:18rem;
}

.primary-background {
  background-color: $colorPrimary;
}

.primary-dark-background {
  background-color: $colorPrimaryDark;
}

.rounded-12 {
  border-radius: rem(12);
}

.rounded-12-top {
  border-top-left-radius: rem(12);
  border-top-right-radius: rem(12);
}

.rounded-12-bottom {
  border-bottom-left-radius: rem(12);
  border-bottom-right-radius: rem(12);
}

.video-thumb {
  position: relative;
  display: inline-block;
  &::before {
    position: absolute;
    display: block;
    content: "";
    background-color: #FFF;
    width: 68px;
    height: 68px;
    border-radius: 34px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 19px solid $colorPrimaryLight;
    top: calc(50% + 1px);
    left: calc(50% + 3px);
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

#prefooter {
  color: #FFF;
  background-color: #d9e4e5;
  @media screen and (min-width: rem(991)) and (max-width: rem(1199)) {
    .panel-rounded {
      min-height: rem(232);
    }
  }
}

.panel-rounded {
  -webkit-border-radius: rem(5);
  -moz-border-radius: rem(5);
  border-radius: rem(5);
  box-shadow: 0 0 rem(8) rgba(0, 0, 0, 0.2);
}

.nav-logo {
  height: rem(36);
  width: auto;
  bottom: -6px;
  position: absolute;
  @media screen and (max-width: rem(1024)) {
    height: rem(24);
    &.position-absolute {
      position: relative;
    }
  }
}

.invert {
  filter: invert(100%) brightness(150%);
}

footer {
  background-color: $colorPrimaryDark;
  color: #FFF;
  .social {
    opacity: 1;
    filter: brightness(5);
    img {
      filter: contrast(0);
    }
  }
}

/* ---- Bootstrap Override CSS ---- */

/* ---- NavBar ---- */

.navbar {
  padding-top: rem(50);
  transition: background-color 250ms, padding-top, 250ms;
  @media screen and (max-width: rem(991)) {
    padding-top: rem(31);
    button {
      color: #FFF;
    }
    .navbar-collapse {
      position: absolute;
      left: 50%;
      width: 100%;
      padding-right: 16px;
      max-width: 720px;
      transform: translateX(-50%);
    }
  }
  .collapsed,
  .show {
    transition: all 200ms;
  }
  .nav-link {
    position: relative;
    font-size: rem(15);
    color: #FFFFFF;
    font-weight: 300;
    transition: color 250ms;
    &:hover {
      &:before {
        opacity: 1.0;
      }
    }
    &.active {
      font-weight: bold;
    }
    &.active:before,
    &:active:before {
      background-color: $colorPrimaryLight;
    }
    &:before {
      position: absolute;
      content: "";
      display: block;
      width: calc(100% - 1rem);
      height: 2px;
      bottom: 5px;
      opacity: 0.0;
      transition: opacity 250ms;
      background-color: #FFF;
    }
  }
  &.scrolled {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #FFF;
    box-shadow: 0 3px 5px rgba(0,0,0,0.025);
    .nav-link {
      color: $textColor;
      &:before {
        background-color: $textColor;
      }
      &.active:before,
      &:active:before {
        background-color: $colorPrimaryLight;
      }
    }
    @media screen and (max-width: rem(991)) {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      button {
        color: #000;
      }
      .nav-logo {
        &.desktop {
          display: initial;
        }
        &.mobile {
          display: none;
        }
      }
      .navbar-collapse {
        width: 100%;
        background-color: rgb(255, 255, 255);
      }
    }
  }
  &:not(.scrolled) {
    .navbar-toggler-icon {
      filter: invert(1);
    }
  }
}

.navbar-toggler {
  &:focus,
  &:active {
    outline: none;
  }
  &.collapsed .navbar-toggler-icon {
    background-image: url("../images/Icon-Menu.svg");
  }
  .navbar-toggler-icon {
    background-image: url("../images/Icon-Close.svg");
  }
  @media screen and (max-width: rem(768)) {
    font-size: 1rem;
  }
}

/* ---- End NavBar ---- */

/* ---- Buttons ---- */

.btn {
  font-size: rem(15);
  border-radius: rem(20);
  padding: rem(10) 1.5rem rem(11);
  @media screen and (max-width: rem(991)) {
    font-size: rem(13);
  }
}

.btn-primary {
  background-color: $colorPrimaryLight;
  border: none;
  box-shadow: 0 3px 15px #00A8BA52;
  &:hover {
    background-color: #35c0cf;
  }
}

.btn-invert {
  background-color: #FFF;
  border: 1px solid $colorPrimaryLight;
  box-shadow: 0 3px 15px #00A8BA33;
  padding: rem(9) rem(39) rem(10);
  &:hover {
    background-color: $colorPrimaryLight;
    color: #FFF;
  }
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: $colorPrimary;
  box-shadow: none;
  text-outline: none;
  outline: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus,
.btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}

.btn-secondary {
  background-color: #FFF;
  color: $colorPrimaryDark;
  border: none;
  &:hover {
    background-color: #e8fdff;
    color: $colorPrimaryDark;
  }
  &:active,
  &:focus {
    background-color: #80b8bd;
    color: $colorPrimaryDark;
  }
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  background-color: #80b8bd;
  color: $colorPrimaryDark;
  box-shadow: none;
  text-outline: none;
  outline: none;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus,
.btn-secondary.focus, .btn-secondary:focus {
  box-shadow: none;
}


.positions-style.active {
  border-bottom: 2px solid #80b8bd;
}

/* ---- End Buttons ---- */

.upload-cv,
.upload-cv-selected {
  margin-bottom: 0;
}

/* ---- End Bootstrap Override CSS ---- */

@media screen and (max-width: 1199px) {
  .tablet-break {
    display: block;
  }
}

@media screen and (max-width: rem(768)) {
  .sec-3.position-absolute {
    position: relative!important;
  }
  .unity-logo {
    width: 15rem;
  }

  .mx-xs-6 {
    margin-left: 6rem!important;
    margin-right: 6rem!important;
  }

  .w-50,
  .w-75 {
    width: 100%!important;
  }

  .panel p {
    font-size: 1rem;
  }

  .h1 {
    font-size: rem(28);
  }

  #prefooter .h3 {
    font-size: rem(20);
  }
}

/* ---- ng Override CSS ---- */

body .ngdialog.ngdialog-theme-default .ngdialog-content {
  width: initial;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ngdialog.ngdialog-theme-default {
  padding-bottom: 0;
  padding-top: 0;
}

body .ngdialog.ngdialog-theme-default .ngdialog-close:before {
  right: 0;
  padding-top: 5px;
}

/* ---- End ng Override CSS ---- */

.desktop {
  display: initial;
}

.mobile {
  display: none;
}

@media screen and (max-width: rem(991)) {
  .desktop {
    display: none;
  }
  .mobile {
    display: initial;
  }
}