.animate-hover {
  position: absolute;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-name: animation-hover;
  width: 100%; }

.animate-hover-container {
  position: relative;
  min-height: 100px; }

@keyframes animation-hover {
  0% {
    margin-top: 0; }
  50% {
    margin-top: -15px; }
  100% {
    margin-top: 0; } }
body {
  font-family: 'Lato', sans-serif; }

.bg-light-o-80 {
  background-color: rgba(255, 255, 255, 0.8); }

.h1 {
  font-weight: 900;
  font-size: 3rem; }

.h2 {
  font-weight: bold;
  font-size: 1.5rem; }

a,
a:hover {
  color: #627CFF;
  text-decoration: none;
  font-weight: bold; }

.panel p {
  font-size: 1.25rem;
  font-weight: 900; }
  .panel p span {
    display: block;
    font-size: 0.9375rem;
    font-weight: 400; }

.img-overlay {
  top: 0;
  left: auto;
  right: auto; }

#discover {
  background-color: rgba(0, 168, 187, 0.3567); }

#how {
  background-color: #032225;
  color: #FFF; }
  #how .steps {
    position: relative; }
  #how .panel .describer i {
    position: absolute;
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
    left: -20px;
    top: 10px;
    font-size: 1.3em;
    opacity: 0.5; }
    #how .panel .describer i span {
      position: absolute;
      left: 7px;
      font-size: 14px;
      top: 3px; }
  #how .panel p {
    opacity: 0.5; }
    #how .panel p span {
      opacity: 0;
      height: 0;
      transition: all 500ms; }
  #how .panel.active p {
    opacity: 1.0; }
    #how .panel.active p span {
      opacity: 1.0;
      height: initial; }
  #how .panel.active i {
    opacity: 1.0; }
  #how .panel.active .sample {
    top: 0;
    opacity: 1.0;
    visibility: visible; }
  #how .panel .sample {
    position: absolute;
    opacity: 0.0;
    visibility: hidden;
    transition: all 500ms; }

#ar,
#animaker {
  background-color: #E5F6F8; }

#unity {
  background-color: #032225;
  color: #FFF; }

#animaker .h1 {
  font-size: 2.25rem; }

#prefooter {
  color: #FFF;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#032225+50,00717b+50 */
  background: #032225;
  /* Old browsers */
  background: -moz-linear-gradient(left, #032225 50%, #00717b 50%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #032225 50%, #00717b 50%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #032225 50%, #00717b 50%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#032225', endColorstr='#00717b',GradientType=1 );
  /* IE6-9 */ }

/* ---- Bootstrap Override CSS ---- */
/* ---- NavBar ---- */
.navbar .nav-link {
  position: relative;
  color: #7f7f7f;
  font-weight: bold;
  transition: color 250ms; }
  .navbar .nav-link:hover:before {
    opacity: 1.0; }
  .navbar .nav-link.active, .navbar .nav-link:active {
    color: #627CFF; }
  .navbar .nav-link.active, .navbar .nav-link:before {
    position: absolute;
    content: "";
    display: block;
    background-color: #627CFF;
    width: calc(100% - 1rem);
    height: 2px;
    bottom: 5px;
    opacity: 0.0;
    transition: opacity 250ms; }
.navbar .navbar-brand .position-absolute {
  bottom: -5px; }

/* ---- End NavBar ---- */
/* ---- Buttons ---- */
.btn {
  border-radius: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold; }

.btn-primary {
  background-color: #627CFF; }
  .btn-primary:hover {
    background-color: #627CFF;
    color: #000; }

.btn-secondary {
  background-color: #FFF;
  color: #000; }
  .btn-secondary:hover {
    background-color: #FFF;
    color: #000; }

/* ---- End Buttons ---- */
/* ---- End Bootstrap Override CSS ---- */

/*# sourceMappingURL=index.css.map */
