.jobs-page body{
    color: #ffffff;
}
.jobs-page .container {
    width: 72%;
}
.jobs-page{
    background-image: url('../images/jobs/Jobs.jpg');
    background-repeat: no-repeat;
	background-size:cover;  
    min-height: 1538px;
    top: 0px;
    bottom: 0px;
    position: relative;
    background-position: center center;
    left: 0px;
    right: 0px;
}
.jobs-page .jobs-menu{
    border-bottom: solid 1px white;
}
.jobs-page h1{
    height: 98px;
    margin-top: 0;
    color: #00c7df;
    padding: 80px 0 110px 0;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 13px;
}
.jobs-page .h1-right-para{
    margin-left: 0;
}
.jobs-page h2{
    height: 41px;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    padding-top: 54px;
    padding-bottom: 53px;
}
.jobs-page section> p{
    width: 92%;
    font-size: 18px;
    line-height: 1.56;
    color: #ffffff;
}
.jobs-page .contact{
    color: #00c7df;
}
.jobs-page .mail-send, .mail-send:focus, .jobs-page .mail-send:hover{
    color: white;
}
.jobs-page .right-para-text{
    height: 140px;
}
.jobs-page .positions-style{
    height: 24px;
    font-size: 18px;
    color: #ffffff;
    background-color: transparent;
    border: 0;
    text-align: left;
    margin-top: 25px;
}
.jobs-page .math-position-link{
    margin-top: 0 !important;
}
.jobs-page .position-etc{
    float: right;
    margin-top: 2px;
}
.jobs-page .line{
    width: 80%;
    border-bottom: solid 1px #ffffff;
    padding-bottom: 53px;
}
.jobs-page .line-spc{
    padding-bottom: 70px;
}
.jobs-page .jobs-form{
    background-color: #007f8c;
    width: 66%;
    height: 434px;
    margin-top: 38px;
}
.jobs-page .jobs-form-3-se{
    margin-top: 100px;
}
.jobs-page .form-control{
    background-color: transparent;
    width: 79%;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 0;
    text-align: left;
    margin-left: 10%;
    margin-top: 24px;
    font-size: 16px;
    color: white;
}
.jobs-page ::placeholder {
    color: #ffffff;
    opacity: 1; /* Firefox */
}
.jobs-page label{
    height: 24px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 100;
    margin-top: 27px;
    margin-left: 10%;
}
.jobs-page .upload-file{
    height: 24px;
}
.jobs-page input[type="file"] {
    display: none;
}
.jobs-page .custom-file-upload {
    border: 0;
    padding: 6px 12px;
    cursor: pointer;
}
.jobs-page .upload-cv{
    text-align: center;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-left: 10px;
}
.jobs-page .fa{
    font-size: 130%;
}
.jobs-page .jobs-button-style{
    margin-top: 74px;
    width: 45%;
    height: 40px !important;
    background-color: #ffffff;
    margin-left: 27.5%;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #000000;
    border: 0;
}
.jobs-page .positions-back-style{
    font-size: 18px;
    margin-top: 13px;
    border: 0;
    border-bottom: 1px solid white;
    color: white;
    background-color: transparent;
}
.jobs-page .col-xs-6{
    padding: 0;
}
.jobs-page .mobile-sec-1{
    display: none;
}
.jobs-page .desktop-sec-1{
    padding: 0;
}
.jobs-page .has-error {
  border: solid 1px red;
}
.jobs-page .text-danger{
    margin-top: -50px !important;
    color: red !important;
}

@media screen and (max-width: 1440px) {
    .jobs-page .jobs-form{
        width: 83%;
        margin-top: 92px;
    }
    .jobs-page .jobs-form-3-se{
        margin-top: 120px;
    }
}

@media screen and (max-width: 1200px) {
    .jobs-page .jobs-form{
        margin-top: 110px;
    }
    .jobs-page .jobs-form-3-se{
        margin-top: 145px;
    }
}

@media screen and (max-width: 1024px) {
    .jobs-page .container {
        width: 82%;
    }
    .jobs-page{
        min-height: 883px;
    }
    .jobs-page h1{
        height: 41px;
        font-size: 30px;
        padding-bottom: 60px;
        padding-top: 108px;
    }
    .jobs-page section> p{
        font-size: 16px;
        width: 100%;
    }
    .jobs-page .positions-style{
        font-size: 16px;
    }
    .jobs-page .sec-2, .jobs-page .sec-3, .sec-4, .sec-5, .sec-6 {
        padding-left: 60px;
    }
    .jobs-page .line{
        width: 100%;
    }
    .jobs-page .h1-right-para{
        width: 100%;
    }
    .jobs-page .jobs-form{
        height: 390px;
        width: 84%;
    }
    .jobs-page .jobs-form-3-se{
        margin-top: 130px;
    }
    .jobs-page h2{
        font-size: 24px;
        height: 33px;
        padding-top: 48px;
        padding-bottom: 34px;
    }
    .jobs-page label{
        font-size: 16px;
        height: 22px;
        margin-top: 10px;
        margin-left: 5%;
    }
    .jobs-page .form-control{
        width: 90%;
        margin-left: 5%;
        font-size: 14px;
    }
    .jobs-page .upload-file{
        margin-top: 8px;
    }
    .jobs-page .fa{
        font-size: 106%;
    }
    .jobs-page .upload-cv{
        font-size: 16px;
    }
    .jobs-page .jobs-button-style{
        margin-top: 50px;
        height: 40px !important;
        font-size: 16px;
        border: 0;
        width: 60%;
        margin-left: 20%;
    }
    .jobs-page .positions-back-style{
        font-size: 16px;
    }
}

@media screen and (max-width: 920px) {
    .jobs-page{
        min-height: 1000px;
    }
    .jobs-page .jobs-form{
        margin-top: 165px;
    }
    .jobs-page .jobs-form-3-se{
        margin-top: 210px;
    }
    .jobs-page .text-danger{
        margin-top: -8px !important;
    }
}

@media screen and (max-width: 767px) {
    .jobs-page .container {
        width: 100%;
    }
    .jobs-page .jobs-menu{
        border-bottom: 0px;
    }
    .jobs-page{
        background-image: none;
        background-color: black;
    }
    .jobs-page .desktop-sec-1{
        display: none;
    }
    .jobs-page .mobile-sec-1{
        display: block;
        padding: 0;
    }
    .jobs-page .bkg-img{
        background-image: url('../images/jobs/Jobs.jpg');
        background-repeat: no-repeat;
	    background-size:cover;
        position: relative;
        background-position: left;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0;
        padding: 0 5%;
        padding-bottom: 102px;
        height: 560px;
    }
    .jobs-page .sec-2, .jobs-page .sec-3, .sec-4, .sec-5, .sec-6 {
        padding-left: 0px;
    }
    .jobs-page h1{
        padding: 0 5%;
        margin-top: 48px;
        margin-bottom: 38px;
        font-size: 24px;
        height: 20px;
    }
    .jobs-page .mobile-sec-1-h1{
        margin-top: 63px;
    }
    .jobs-page .positions-style{
        font-size: 14px;
        height: 19px;
    }
    .jobs-page .line{
        width: 95%;
        margin-left: 5%;
    }
    .jobs-page .h1-right-para{
        padding: 0 5%;
    }
    .jobs-page .jobs-form{
        margin: 66px 6% 0 6%;
        width: 88%;
    }
    .jobs-page .jobs-form-3-se{
        margin-top: 120px;
    }
    .jobs-page section> p{
        font-size: 14px;
    }
    .jobs-page h2{
        font-size: 24px;
        height: 33px;
        padding-top: 48px;
        margin-bottom: 20px;
    }
    .jobs-page .form-control{
        height: 40px;
    }
    .jobs-page .upload-file{
        margin-top: 14px;
    }
    .jobs-page .jobs-button-style{
        margin-top: 50px;
        width: 64%;
        margin-left: 18%;
    }
    .jobs-page .positions-back-style{
        margin: 15px 5%;
    }
    .jobs-page .navbar-header{
        padding: 0 5%;
    }
}