.search-page .container {
    width: 72%;
}
.search-page .row-padding{
    padding-top: 81px;
} 
.search-page{
    background-image: url('../images/search/search.jpg');
    background-repeat: no-repeat;
	background-size:cover;  
    min-height: 1520px;
    top: 0px;
    bottom: 0px;
    position: relative;
    background-position: center center;
    left: 0px;
    right: 0px; 
}
.search-page h1{
    width: 545px;
    height: 55px;
    margin-top: 0;
    color: #00c7df;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
    line-height: 2.45;
    margin-bottom: 49px;
}
.search-page .search-text{
    margin-right: 5%;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.56;
    width: 83%;
}
.search-page .search-text-para-1{
    margin-top: 64px;
}
.search-page .right-para-text{
    width: 100%;
}
.search-page .contact-us-para{
    color: #ffffff;
    margin-top: 36px;
    margin-left: 5%;
    margin-bottom: 15px;
    font-size: 18px; 
    line-height: 1.56;
}
.search-page .contact-us-link{
    height: 55px;
    padding: 15px 0;
    background-color: #007f8c;
    color: #ffffff;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    width: 48%;
    border-radius: 0;
    margin-top: 46px;
}
.search-page .beta-link{
    margin-bottom: 39px;
}
.search-page .link-section{
    margin-top: 121px;
}
.search-page .btn:hover{
    background: #00c7df;
    color: white;
}
.search-page .btn:focus{
    background-color: #007f8c;
    color: #23527c;
    text-decoration: underline;
}
.search-page .col-sm-6{
    padding: 0;
}
.search-page .test{
    position: absolute;
    top: 35px;
    bottom: 0;
    right: 0;
    left: 0;
    animation-duration: 0.30s;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 0.30s;
    -webkit-animation-timing-function: ease-in-out;
}
.search-page .slider .container {
        width: 866px;
        padding: 0;
        margin: auto;
}
.search-page .popup-h1 {
    margin-top: 47px !important;
}

@media screen and (max-width: 1920px) {
    .search-page .row-padding{
        padding-bottom: 81px;
    }
    .search-page .search-text{
        width: 100%;
    }
    .search-page .right-para-text{
        width: 100%;
        padding-left: 16%;
    }
    .search-page .contact-us-link{
         margin-left: 16%;
    }
}

@media screen and (max-width: 1440px) {
    .search-page .slider-nav{
        bottom: 62px !important;
    }
}

@media screen and (max-width: 1200px) {
    .search-page h1{
        width: 510px;
        line-height: 1.45;
    }
    .search-page .link-section{
        margin-bottom: 0;
    }
    .search-page .contact-us-link{
        width: 58%;
    }
    .search-page .slider {
        padding: 190px 0 !important;
        background-size: contain;
    }
    .search-page .slider-nav{
        bottom: 96px !important;
    }
    .search-page .slide{
        width: 73%;
        margin-left: 13.5%;
    }
    .search-page .arrow {
        margin-top: -230px !important;
    }
    .search-page .arrow.prev {
        left: -30px !important;
    }
    .search-page .arrow.next {
        right: -30px !important;
    }
}

@media screen and (max-width: 1024px) {
    .search-page{
        min-height: 915px;
    }
    .search-page .link-section{
        margin-top: 67px;
    }
    .search-page .container {
        width: 82%;
    }
    .search-page .row-padding{
        padding: 61px 0px 0px 0px;
    }
    .search-page h1{
        height: 41px;
        font-size: 30px;
        margin-bottom: 23px;
    }
    .search-page .search-text{
        font-size: 16px;
        width: 92%;
    }
    .search-page .right-para-text{
        width: 87%;
    }
    .search-page .search-text-para-1{
        margin-top: 0;
    }
    .search-page .contact-us-link{
        width: 67%;
        margin-top: 32px;
    }
    .search-page .popup-h1 {
        margin-top: 40px !important;
    }
    .search-page .slider {
        min-height: 488px !important;
        padding: 149px 0 !important;
    }
    .search-page .slider-nav{
        bottom: 52px !important;
    }
    .search-page .dots .dot{
        margin: 0 5px !important;
    }
    .search-page .dots .dot a{
        width: 11px !important;
        height: 11px !important;
    }
    .search-page .slider .container{
        width: 650px;
    }
    .search-page .slide{
        width: 75%;
        margin-left: 12.5%;
        margin-top: -24px !important;
    }
    .search-page .arrow{
        margin-top: -170px !important;
    }
    .search-page .arrow.prev {
        width: 12px;
        height: 30px;
        background-size: contain;
        left: 10px !important;
    }
    .search-page .arrow.next {
        width: 12px;
        height: 30px;
        background-size: contain;
        right: 10px !important;
    }
}

@media screen and (max-width: 767px) {
    .search-page .container {
        width: 100%;
    }
    .search-page{
        background-image: none;
        background-color: black;
        min-height: 1005px;
    }
    .search-page .mobile-img{
        background-image: url('../images/search/search.jpg');
        background-repeat: no-repeat;
        background-size:cover;  
        position: relative;
        background-position: left;
        left: 0px;
        right: 0px; 
        top: 0px;
        bottom: 0px;
        min-height: 689px;
    }
    .search-page .row-padding{
        padding: 0;
    }
    .search-page h1{
        width: 294px;
        height: 33px;
        font-size: 24px;
        margin-top: 45px;
        margin-bottom: 39px;
        padding: 0 5%;
    }
    .search-page .search-text{
        padding: 0 5%;
        width: 100%;
        font-size: 14px;
    }
    .search-page .link-section{
        margin-top: 0;
    }
    .search-page .contact-us-link{
        width: 90%;
        margin-left: 5%;
        margin-bottom: 65px;
        font-size: 16px;
        height: 45px;
        padding: 12px 0;
        margin-top: 52px;
    }
    .search-page .popup-h1 {
        margin-top: 14px !important;
    }
    .search-page .slider {
        min-height: 247px !important;
        padding: 0 !important;
        margin-bottom: 25px !important;
    }
    .search-page .slider .container{
        width: 320px;
    }
    .search-page .slide{
        width: 196px;
        margin-left: 19%;
        margin-top: 56px !important;
    }
    .search-page .arrow.next, .search-page .arrow.prev {
        display: none;
    }
    .search-page .slider-nav{
        bottom: 53px !important;
    }
    .search-page .dots .dot{
        margin: 17px 10px !important;
    }
    .search-page .dots .dot a {
        border: 1px solid #fffcfc !important;
    }
    .search-page .dots .dot a.active {
        border-color: #fffcfc !important;
        background-color: #fffcfc !important;
    }
    .search-page .navbar-header{
        padding: 0 5%;
    }
}