.slider {
    background-image: url(../images/search/laptop.png);
    background-repeat: no-repeat;
    min-height: 830px;
    background-position: center center;
    padding: 109px 0;
    margin-top: 20px;
}

.slide {
    margin-top: 5px;
}
.arrow-nav{
    position: relative;
}
.arrow {
    z-index: 1002;
    display: block;
    margin-top: -290px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../images/search/blank.gif) no-repeat;
}

.arrow.prev {
    position: absolute;
    left: -120px;
    background-image: url(../images/search/back.svg);
    transition: 0.2s linear all;
}

.arrow.next {
    position: absolute;
    right: -120px;
    background-image: url(../images/search/next.svg);
    transition: 0.2s linear all;
}



/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.slider-nav {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: 96px;
    right: 0;
    height: 48px;
}

.nonDraggableImage{
    -webkit-user-drag: none;
}

.slider-nav .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.slider-nav ul {
    margin: 0;
    width: 100%;
    padding-left: 0;
}

.slider-nav .dot, .slider-nav .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 11px;
    width: 15px;
    height: 15px;
}

.dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 15px;
    height: 15px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid #FFF;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    border-color: #FFF;
    background-color: #FFF;
}
