.search4unity-page .container {
    width: 72%;
}
.search4unity-page {
    background-image: url('../images/Search4unity/search.jpg');
    background-repeat: no-repeat;
	background-size:cover;  
    min-height: 1600px;
    top: 0px;
    bottom: 0px;
    position: relative;
    background-position: center center;
    left: 0px;
    right: 0px; 
}
.search4unity-page h1{
    height: 98px;
    margin-top: 0;
    color: #00c7df;
    padding: 80px 0;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.45;
    margin-bottom: 0px;
    width: 579px;
}
.search4unity-page .search-text{
    margin-right: 5%;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    line-height: 1.56;
    width: 90%;
}
.search4unity-page .search-text> span{
    margin-right: 20px;
}
.search4unity-page .bold{
    color: #ffffff;
}
.search4unity-page .search-text-para-1{
    margin-top: 40px;
}
.search4unity-page .search-text-para-2{
    margin-top: 34px;
}
.search4unity-page .search-text-para-2-l-2{
   margin-left: 32px; 
}
.search4unity-page .contact-us-para{
    color: rgba(255, 255, 255, 0.6);
    margin-top: 36px;
    margin-left: 5%;
    font-size: 18px; 
    line-height: 1.56;
}
.search4unity-page .contact-us-para-2{
    width: 70%;
}
.search4unity-page .contact-us-link{
    height: 55px;
    padding: 15px 0;
    background-color: #007f8c;
    color: #ffffff;
    border: 0;
    margin-left: 5%;
    font-size: 18px;
    font-weight: 600;
    width: 50%;
    border-radius: 0;
}
.search4unity-page .beta-link{
    margin-bottom: 49px;
    margin-top: 0px;
}
.search4unity-page .p-sec{
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 5%;
    margin-bottom: 15px;
    font-size: 18px; 
    line-height: 1.56;
}
.search4unity-page .link-section{
    margin-top: 210px;
    background-color: rgba(3,3,3,0.5);
    margin-bottom: 150px;
}
.search4unity-page .btn:hover{
    background: #00c7df;
    color: white;
}
.search4unity-page .btn:focus{
    background-color: #007f8c;
    color: #23527c;
    text-decoration: underline;
}
.search4unity-page .col-sm-6{
    padding: 0;
}
.search4unity-page .test{
    position: absolute;
    top: 35px;
    bottom: 0;
    right: 0;
    left: 0;
    animation-duration: 0.30s;
    animation-timing-function: ease-in-out;
    -webkit-animation-duration: 0.30s;
    -webkit-animation-timing-function: ease-in-out;
}
.search4unity-page .slider .container {
        width: 866px;
        padding: 0;
        margin: auto;
}

@media screen and (max-width: 1920px) {
    .search4unity-page .contact-us-para-2{
        width: 60%;
    }
    .search4unity-page .link-section{
        width: 42%;
    }
}

@media screen and (max-width: 1440px) {
    .search4unity-page .search-text{
        width: 95%;
    }
    .search4unity-page .col-sm-6{
        width: 58%;
    }
    .search4unity-page .link-section{
        width: 42%;
    }
    .search4unity-page .contact-us-link{
        width: 58%;
    }
    .search4unity-page .contact-us-para-2{
        width: 75%;
    }
}

@media screen and (max-width: 1200px) {
    .search4unity-page .link-section{
        margin-bottom: 0;
    }
    .search4unity-page .contact-us-para-2{
        width: 83%;
    }
    .search4unity-page{
        min-height: 1200px;
    }
    .search4unity-page .slider {
        min-height: 270px !important;
        padding: 100px 0 !important;
        background-size: contain;
        margin-top: 40px !important;
        margin: 0 auto;
    }
    .search4unity-page .slider .container{
        width: 550px;
    }
    .search4unity-page .slide{
        width: 287px !important;
        margin-left: 132px !important;
        margin-top: -73px !important;
        position: absolute;
    }
    .search4unity-page .arrow{
        margin-top: 0px !important;
    }
    .search4unity-page .arrow.prev {
        height: 30px;
        background-size: contain;
        left: -15px !important;
    }
    .search4unity-page .arrow.next {
        height: 30px;
        background-size: contain;
        right: -36px !important;
    }
}

@media screen and (max-width: 1024px) {
    .search4unity-page{
        min-height: 1120px;
    }
    .search4unity-page .link-section{
        margin-top: 182px;
    }
    .search4unity-page .contact-us-para-2{
        width: 87%;
    }
    .search4unity-page .container {
        width: 82%;
    }
    .search4unity-page h1{
        height: 62px;
        width: 400px;
        font-size: 30px;
        padding-top: 84px;
    }
    .search4unity-page .search-text{
        font-size: 16px;
        width: 95%;
    }
    .search4unity-page .search-text-para-1{
        margin-top: 10px;
    }
    .search4unity-page .contact-us-link{
        height: 45px;
        padding: 11px 0;
        width: 62%;
    }
    .search4unity-page .dots .dot a {
        width: 11px !important;
        height: 11px !important;
    }
}

@media screen and (max-width: 767px) {
    .search4unity-page .container {
        width: 100%;
    }
    .search4unity-page .col-sm-6{
        width: 100%;
    }
    .search4unity-page{
        background-image: none;
        background-color: black;
        min-height: 1425px;
    }
    .search4unity-page .mobile-img{
        background-image: url('../images/Search4unity/search.jpg');
        background-repeat: no-repeat;
        background-size:cover;  
        position: relative;
        background-position: top right;
        left: 0px;
        right: 0px; 
        top: 0px;
        bottom: 0px;
        min-height: 689px;
    }
    .search4unity-page h1{
        width: 395px;
        height: 64px;
        font-size: 24px;
        margin-top: 45px;
        margin-bottom: 29px;
        padding: 0 5%;
        line-height: 1.33;
    }
    .search4unity-page .search-text{
        padding: 0 5%;
        width: 100%;
        font-size: 14px;
    }
    .search4unity-page .link-section{
        margin-top: 0;
        background-color: transparent;
        width: 100%;
    }
    .search4unity-page .bold{
        color: #ffffff;
        font-weight: 600;
    }
    .search4unity-page .search-text> span{
        margin-right: 13px;
    }
    .search4unity-page .search-text-para-2-l-2{
        margin-left: 22px; 
    }
    .search4unity-page .search-text-para-2{
        color: white;
    }
    .search4unity-page .contact-us-para{
        color: #ffffff;
        margin-left: 0;
        margin-top: 40px;
        margin-bottom: 25px;
        font-size: 14px;
        padding: 0 5%;
    }
    .search4unity-page .contact-us-para-2{
        width: 100%;
    }
    .search4unity-page .p-sec{
        color: #ffffff;
        margin-left: 0;
        font-size: 14px;
        padding: 0 5%;
        margin-bottom: 5px;
    }
    .search4unity-page .button-stl{
        padding: 0 5%;
    }
    .search4unity-page .contact-us-link{
        width: 100%;
        margin-bottom: -10px;
        font-size: 16px;
        margin-left: 0;
        height: 45px;
        padding: 13px 0;
    }
    .search4unity-page .slider {
        min-height: 190px !important;
        padding: 0 !important;
        width: 264px;
        margin-top: 60px !important;
    }
    .search4unity-page .slider .container{
        width: 264px;
    }
    .search4unity-page .slide{
        width: 168px !important;
        margin-left: 48px !important;
        margin-top: 32px !important;
    }
    .search4unity-page .arrow.next, .search4unity-page .arrow.prev {
        display: none;
    }
    .search4unity-page .slider-nav{
        bottom: 64px !important;
    }
    .search4unity-page .slider-nav .wrapper{
        padding: 0 !important;
        height: 0;
    }
    .search4unity-page .slider-nav ul{
        height: 0;
    }
    .search4unity-page .dots .dot{
        margin: 17px 10px !important;
    }
    .search4unity-page .dots .dot a {
        width: 9px !important;
        height: 9px !important;
        border: 1px solid #fffcfc !important;
        top: -28px !important;
        left: 0 !important;
    }
    .search4unity-page .dots .dot a.active {
        border-color: #fffcfc !important;
        background-color: #fffcfc !important;
    }
    .search4unity-page .navbar-header{
        padding: 0 5%;
    }
}

@media screen and (max-width: 400px) {
    .search4unity-page h1{
        width: 290px;
    }
}