.search4unity-page .slider {
    background-image: url(../images/Search4unity/Gaming_Laptop_V2-lowres.png);
    background-repeat: no-repeat;
    min-height: 830px;
    background-position: center center;
    padding: 109px 0;
    margin-top: -100px;
}

.search4unity-page .slide {
    margin-top: 65px;
    margin-left: 12.5%;
    width: 75%;
}

.search4unity-page .arrow-nav{
    position: relative;
}
.search4unity-page .arrow {
    z-index: 1002;
    display: block;
    margin-top: -190px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../images/search/blank.gif) no-repeat;
}

.search4unity-page .arrow.prev {
    position: absolute;
    left: -170px;
    background-image: url(../images/search/back.svg);
    transition: 0.2s linear all;
}

.search4unity-page .arrow.next {
    position: absolute;
    right: -180px;
    background-image: url(../images/search/next.svg);
    transition: 0.2s linear all;
}





/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.search4unity-page .slider-nav {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: 18px;
    right: 0;
    height: 48px;
}

.search4unity-page .nonDraggableImage{
    -webkit-user-drag: none;
}

.search4unity-page .slider-nav .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.search4unity-page .slider-nav ul {
    margin: 0;
    width: 100%;
    padding-left: 0;
}

.search4unity-page .slider-nav .dot, .slider-nav .dot a {
    display: inline-block;
    zoom: 1;
}

.search4unity-page .dots .dot {
    position: relative;
    margin: 0 5px;
    width: 15px;
    height: 15px;
}

.search4unity-page .dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 15px;
    height: 15px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid #FFF;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.search4unity-page .dots .dot a.active {
    border-color: #FFF;
    background-color: #FFF;
}

