<div ng-include='"app/templates/header.html"' class="other-menu"></div>
<section class="form_page">
    <div class="container py-md-5 py-4">
        <div class="row no-gutters py-md-5">
            <div class="col-md-6 col-12 mt-5">
                <div class="ml-lg-0 ml-4 mr-lg-0 mr-4 mt-5 mt-lg-0">
                    <p class="h2 w-75">4 Ways ARCan Change Brick and Mortar Retail</p>
                    <p class="mt-4 w-75">Increase engagement with unique AR experiences & see real ROI</p>
                    <img class="" src="images/retail_ebook.png" />
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="my-md-5 mr-md-5 ml-lg-0 ml-3 mr-lg-0 mr-3">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSev7GnfyZsu7SifIdDoSia8fJIiyfZWRbV5U2EPk4xbrJsAVA/viewform?embedded=true" 
                    width="100%" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                </div>
            </div>
        </div>
    </div>
</section>