<div ng-include='"app/templates/header.html"'></div>
<section id="discover-new-realities" class="position-relative twentyfive-seventeen">
    <div class="content">
        <div class="position-absolute pt-5 w-100 top-0">
            <div class="container mx-auto py-md-5 py-4 text-center justify-content-center">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="h1 mx-auto pt-md-5 pt-4 mb-3">Vera Augmented Reality Platform</h2>
                        <p class="w-60 px-md-5 mb-md-0 mb-5 py-2 mx-auto">
                            Transform Any Building for True Customer Value & Real Business Solutions                             
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center pt-4 d-block request-demo">
                        <a class="btn btn-primary mt-3 mt-md-3" href="index.php#!/contactUs" role="button">Request a demo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="platform">
    <div class="container py-md-5">
        <div class="row py-md-5 py-4 text-center justify-content-center">
            <div class="col-12">
                <h2 class="h1 mx-auto primary-color">Vera AR Platform</h2>
                <p class="h3 my-4">
                    Transform Any Building into an Intelligent Digital Environment
                </p>
                <p class="mx-auto w-60">
                    Consumer facing applications to promote brands, engage consumers & increase sales.<br>
                    Business Solutions for facilities management to increase building efficiencies.<br>
                    Gain Access to new data insights.
                </p>
            </div>
            <div class="text-center mb-2 mt-3">
                <a target="_blank" class="btn btn-primary mt-0 mt-md-2" href="/index.php#!/whitepaper">Download Vera white paper</a>
            </div>
        </div>
    </div>
</section>



<section id="solutions">
    <div class="container py-md-5">
        <div class="row py-md-5 py-4 text-center justify-content-center">
            <div class="col-12">
                <h2 class="h2 text-center mb-md-5 my-3">Solutions</h2>
            </div>
            <div class="col-md-4 py-md-4 mt-2 col-6">
                <div class="mx-lg-5">
                    <div class="img-wrapper mb-5">
                        <img src="images/car-video-thumb.jpg">
                    </div>
                    <p class="h3 mb-4">Facilities Management</p>
                    <ul>
                        <li>Increase staff productivity</li>
                        <li>Lower maintenance costs & improve tenant satisfaction</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 py-md-4 mt-2 col-6">
                <div class="mx-lg-5">
                    <div class="img-wrapper mb-5">
                        <img src="images/retail.jpg">
                    </div>
                    <p class="h3 mb-4">Retail</p>
                    <ul>
                        <li>Increase engagement</li>
                        <li>Drive sales conversions</li>
                        <li>Automate visual merchandising</li>
                        <li>Gain new shopper insights</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 py-md-4 mt-2 col-6">
                <div class="mx-lg-5">
                    <div class="img-wrapper mb-5">
                        <img src="images/entertainment.jpg">
                    </div>
                    <p class="h3 mb-4">Entertainment</p>
                    <ul>
                        <li>Extend brands into physical venues</li>
                        <li>Create engaging AR games</li>
                        <li>Access new analytics & insights</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="operations">
    <div class="container py-md-5">
        <div class="row py-md-5 py-4 text-center justify-content-center">
            <div class="col-md-5 col-12 text-md-left text-center order-0">
                <p class="h2 mb-5 text-center text-md-left">Vera for Operations</p> 
                <ul>
                    <li><strong>Smart Ticketing & Navigation</strong> to report maintenance issues, provide AR navigation 
                        to items needing repair & even see ‘behind walls’ for lower maintenance costs & 
                        improved tenant satisfaction.</li>
                    <li><strong>AR Training & AR Manuals</strong> provide employees with more engaging learning, visual 
                        office equipment tutorials, & decrease the cost of keeping materials updated.</li>
                    <li><strong>Digital Concierge & AR Navigation</strong> provides guidance and access anywhere in 
                        your building for employees, tenants & visitors.</li>
                    <li><strong>IoT controllers</strong> employ one app to control all smart devices simply by pointing 
                        your mobile phone, for more seamless and delightful experiences.</li>
                </ul>
            </div>
            <div ng-controller="popupVideo" class="col-md-7 col-12 text-right">
                <span ng-click="openContactForm($event)" class="video-thumb" data="https://www.youtube.com/embed/RyokevisN6w">
                    <img class="img-fluid panel-rounded" src="images/ticketing-video-thumb.jpg" alt="Video: 3D-search-video" />
                </span>
            </div>
        </div>
    </div>
</section>

<section id="retail">
    <div class="container py-md-5">
        <div class="row py-md-5 py-4 text-center justify-content-center">
            <div class="col-md-5 col-12 text-md-left text-center order-0">
                <p class="h2 mb-5 text-center text-md-left">Vera for Retail</p>
                <ul>
                    <li><strong>AR Brand Experiences</strong> to increase consumer engagement and help them 
                        connect with your brand.</li>
                    <li><strong>AR store navigation & product discovery</strong> lets you inject promotions 
                        with utmost precision as consumers navigate stores.</li>
                    <li><strong>Smart Visual Merchandising</strong> automates & lower cost of testing product 
                        placements, displays, signage, & store compliance.</li>
                    <li><strong>New Analytics & Data Insights</strong> to better understand traffic flow, 
                        patterns, hot spots, and zone behaviors to inform the complete shopper journey.</li>
                </ul>
            </div>
            <div ng-controller="popupVideo" class="col-md-7 col-12 text-right">
                <span ng-click="openContactForm($event)" class="video-thumb" data="https://www.youtube.com/embed/C1bQQYQn7Vc">
                    <img class="img-fluid panel-rounded" src="images/coffee-video-thumb.jpg" alt="Video: Animaker-video" />
                </span>
            </div>
        </div>
    </div>
</section>

<section id="entertainment">
    <div class="container py-md-5">
        <div class="row py-md-5 py-4 text-center justify-content-center">
            <div class="col-md-5 col-12 text-md-left text-center order-0">
                <p class="h2 mb-5 text-center text-md-left">Vera for Entertainment</p>
                <ul>
                    <li><strong>AR Brand Engagement</strong> Extend your brand into any physical location 
                        and create unique AR experiences for shopping malls, theaters, theme parks and more.</li>
                    <li><strong>AR Gaming</strong> Create new AR games or promote existing titles as lobby 
                        entertainment, while consumers wait in lines, and in stores.</li>
                    <li><strong>Smart Visual Merchandising</strong> automates & lower cost of testing product 
                        placements, displays, signage, & store compliance.</li>
                    <li><strong>Access New Data Analytics</strong> to gain insights as consumers interact with 
                        games, navigate venues, interact with content and products.</li>
                </ul>
            </div>
            <div ng-controller="popupVideo" class="col-md-7 col-12 text-right">
                <span ng-click="openContactForm($event)" class="video-thumb" data="https://www.youtube.com/embed/RyokevisN6w">
                    <img class="img-fluid panel-rounded" src="images/car-video-thumb.jpg" alt="Video: 3D-search-video" />
                </span>
            </div>
        </div>
    </div>
</section>

<section id="use-cases">
    <div class="container py-md-5">
        <div class="row no-gutters py-md-5 py-4 text-center justify-content-center">
            <div class="col-12 mb-md-5 text-center">
                <h2 class="h2 text-center my-3">Sample use cases</h2>
            </div>
            <div ng-init="showRowTwo = false" class="col-12 mb-md-0 mb-4 text-center side-padding-sm-screen">
                <div class="grid-container">
                    <div class="grid-item">
                        <div ng-controller="popupVideo" class="pb-4">
                            <span ng-click="openContactForm($event)" class="video-thumb" 
                                data="https://www.youtube.com/embed/DiTfJTByFek">
                                <img class="img-fluid panel-rounded" src="images/vera-video-thumb.jpg" 
                                    alt="Video: Vera: Real-life demo"/>
                            </span>
                        </div>
                        <span>Real-life demo: Multi-purpose</span>
                    </div>
                    <div class="grid-item">
                        <div ng-controller="popupVideo" class="pb-4">
                            <span ng-click="openContactForm($event)" class="video-thumb" 
                                data="https://www.youtube.com/embed/G-_elXgAJOA">
                                <img class="img-fluid panel-rounded" src="images/concierge-video-thumb.jpg" 
                                    alt="Video: Concierge" />
                            </span>
                        </div>
                        <span>Indoor navigation & concierge</span>
                    </div>
                    <div class="grid-item">
                        <div ng-controller="popupVideo" class="pb-4">
                            <span ng-click="openContactForm($event)" class="video-thumb"
                                data="https://www.youtube.com/embed/wN5UIwwHq7w">
                                <img class="img-fluid panel-rounded" src="images/car-video-thumb.jpg"
                                    alt="Video: Car game" />
                            </span>
                        </div>
                        <span>Gamified experiences</span>
                    </div>
                </div>

                <!--<div ng-show="true" class="grid-container fadeAnimation slideAnimation">
                    <div class="grid-item">
                        <div ng-controller="popupVideo" class="pb-4">
                            <span ng-click="openContactForm($event)" class="video-thumb"
                                data="https://www.youtube.com/embed/fQES9O65Llw">
                                <img class="img-fluid panel-rounded" src="images/iot-video-thumb.jpg"
                                    alt="Video: IoT" />
                            </span>
                        </div>
                        <span>IoT control</span>
                    </div>
                    <div class="grid-item">
                        <div ng-controller="popupVideo" class="pb-4">
                            <span ng-click="openContactForm($event)" class="video-thumb"
                                data="https://www.youtube.com/embed/hsoWZlEwAHg">
                                <img class="img-fluid panel-rounded" src="images/coffee-video-thumb.jpg"
                                    alt="Video: Coffee tutorial" />
                            </span>
                        </div>
                        <span>Tutorials & how-to’s</span>
                    </div>
                    <div class="grid-item">
                        <div ng-controller="popupVideo" class="pb-4">
                            <span ng-click="openContactForm($event)" class="video-thumb" 
                                data="https://www.youtube.com/embed/-t85x8gbqK4">
                                <img class="img-fluid panel-rounded" src="images/ticketing-video-thumb.jpg" 
                                    alt="Video: Ticketing system" />
                            </span>
                        </div>
                        <span>Ticketing: Construction & maintenance</span>
                    </div>-->
                </div>
            </div>       
        </div>
    </div>
</section>

<section id="prefooter">
    <div class="container py-md-5">
        <div class="row py-4 justify-content-center align-items-center">
            <div class="col-md-5 col-12">
                <div class="p-4 panel-rounded primary-dark-background">
                    <p class="h3 mb-3">Do big things. Join Resonai.</p>
                    <p>We’re working on some really cool stuff. If you want in, we want to hear from you.</p>
                    <a class="btn btn-secondary mt-4" href="index.php#!/jobs">Open positions</a>
                </div>
            </div>
            <div class="col-md-5 mt-md-0 mt-4 col-12">
                <div class="p-4 panel-rounded primary-background">
                    <p class="h3 mb-3">Let’s talk.</p>
                    <p>Interested in partnering with Resonai? Or just excited and curious about all things AR? Give us a shout. </p>
                    <a class="btn btn-secondary mt-4" href="index.php#!/contactUs">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</section>