        <div ng-include='"app/templates/header.html"'></div>
        <div class="resonai-content hp">
            <section class="section-1" id="home">
                <div class="container">
                   <div class="row">
                        <div class="sec-1-mobile-img">
                            <img src="images/HP/Hero_hp.jpg" >
                        </div>
                        <div class="section-1-para" >
                            <h1 class="section-1-h1">RAPIDO: VISUAL <br> SEARCH FOR UNITY</h1>
                            <p class="section-1-p">Find any 3D asset for your
                            prototype, game or App, now.</p>
                            <p class="section-1-p section-1-p-2">Rapido is an
                            AI powered visual search engine. It allows you to
                            instantly discover the assets you need and create
                            beautiful prototypes.
                            <!--<i class="fa fa-angle-right" aria-hidden="true">
                            </i>-->
                            </p>
                            <a ui-sref="search4unity" class="btn btn-default
                            btnajs btnajsS4u">Learn more</a>
                            <!--<div ng-controller="hpPopupBeta">
                                <button ng-click="openContactForm()" class="btn btn-default beta-link">Join the Beta</button>
                            </div>-->
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-2" id="about">
               <div class="container">
                   <div class="row">
                        <div class="section-2-img col-sm-6 col-xs-12">
                            <div class="welcome-image">
                                <img src="images/HP/Circle.jpg"/>
                            </div>
                            <video class="section-2-video" autoplay loop>
                                <source src="images/HP/Movie_Circle.mp4"
                                type="video/mp4">
                            </video>
                        </div>
                        <div class="section-2-para col-sm-6 col-xs-12">
                            <h1 class="section-2-h1">WELCOME TO RESONAI</h1>
                            <p class="section-2-p">
                            Resonai powers machines to understand the world
                            through super-human visual perception. Our core
                            technology and the products we develop, enable
                            machines to analyze shape and structure and
                            understand their environment.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-3" id="technology">
               <div class="container-fluid">
                   <div class="row">
                        <div class="section-3-para">
                            <div ng-controller="popupVideo" class="sec-3-bkg-img">
                                <button ng-click="openContactForm()" class="video-popup"><img src="images/HP/Play.svg"></button>
                            </div>
                            <h1 class="section-3-h1">BREAKTHROUGH TECHNOLOGY</h1><br>
                            <p class="section-3-p">
                                Resonai's ground-breaking technology solves major problems in
                                AR and VR that demand sophisticated computer understanding
                                of the environment. <br><br>
                                Through advanced mathematics, physics and AI, we've created
                                a visual cortex for machines, enabling them to understand
                                objects, complex scenes and context in real time.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-4" id="products">
               <div class="container section-4-container">
                   <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="search4unity-image">
                                <img src="images/HP/Screen.png"/>
                            </div>
                            <video class="section-4-video-1" autoplay loop>
                                <source src="images/HP/screen4AE3_M.mp4" type="video/mp4">
                            </video>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="section-4-para-1">
                                <h1 class="section-4-h1-1">RAPIDO BY RESONAI</h1>
                                <p class="section-4-p-1"><b>Imagine. Discover. Create.</b></p>
                                <a ui-sref="search4unity" class="btn btn-default btnajs">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="section-4-para-1-search">
                                <h1 class="section-4-h1-1">RESONAI VISUAL SEARCH</h1>
                                <p class="section-4-p-1"><b>Transform your ideas into 3D content</b></p>
                                <a ui-sref="search" class="btn btn-default btnajs">Learn more</a>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <div class="section-4-img-1">
                                <img src="images/HP/search.png">
                            </div>
                            <video class="section-4-video-2" autoplay loop>
                                <source src="images/HP/Final_853px_MotorAE_M.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 cnt-right">
                            <div class="section-4-para-2">
                                <h1 class="section-4-h1-1">RESONAI DOLLHOUSE</h1>
                                <p class="section-4-p-1">Virtualize anyting</p>
                                <a ui-sref="dollhouse" class="btn btn-default btnajs">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <figure class="section-4-img-2"><img src="images/HP/dollhouse.png"></figure >
                <video class="section-4-video-3" autoplay loop>
                    <source src="images/HP/Furniture_AE_final_M.mp4" type="video/mp4">
                </video>
            </section>
            <section class="section-5">
                <div class="container">
                    <div class="bkg-img section-5-para col-md-12 col-sm-6 col-xs-12">
                        <h1 class="section-5-h1">COME WORK WITH US</h1>
                        <p class="section-5-p">
                        Resonai’s team is tackling some of the most profound problems in
                        computer vision and AI in the emerging markets of AR/VR, robotics,
                        self-driving cars and drones.<br><br>
                        We’re growing and invite you to join our journey to shape the future.
                        </p>
                        <div class="mobile-pad"><a ui-sref="jobs" class="btn btn-default btnajs">Join our vision</a></div>
                    </div>
                    <div ng-controller="contactFormHp" class="section-5-para col-md-5 col-sm-6 col-xs-12">
                        <h1 class="section-5-h1 section-5-h1-2">WE'D LIKE TO HEAR FROM YOU</h1>
                        <form name="userForm" novalidate ng-submit="insertData(userForm.$valid)" class="mobile-pad">
                            <label class="text-danger" ng-show="errorMessage">{{errorMessage}}</label>
                            <label class="text-success" ng-show="successInsert">{{successInsert}}</label>
                            <div>
                                <label for="username" >Name</label>
                                <input type="text" name="userName" ng-model="insert.user_name" class="form-control" ng-class="{
                                'has-error' : userForm.userName.$invalid && userForm.$submitted && userForm.userName.$pristine }" required>
                                <!--<span class="text-danger" ng-show="errorUsername">{{errorUsername}}</span>-->
                                <span class="valid-text" ng-show="userForm.userName.$dirty && userForm.userName.$invalid">
                                    <span ng-show="userForm.userName.$error.required">Name is required.</span>
                                </span>
                            </div>
                            <div>
                                <label for="email">Email</label>
                                <input type="email" name="email" ng-model="insert.email" class="form-control" ng-class="{
                                'has-error' : userForm.email.$invalid && userForm.$submitted && userForm.email.$pristine }" required>
                                <!--<span class="text-danger" ng-show="errorEmail">{{errorEmail}}</span>-->
                                <span class="valid-text" ng-show="userForm.email.$dirty && userForm.email.$invalid">
                                    <span ng-show="userForm.email.$error.required">Email is required.</span>
                                    <span ng-show="userForm.email.$error.email">Invalid email address.</span>
                                </span>
                            </div>
                            <div>
                                <label for="companyName">Company name</label>
                                <input type="text" name="companyName" ng-model="insert.company_name" class="form-control" ng-class="{
                                'has-error' : userForm.companyName.$invalid && userForm.$submitted && userForm.companyName.$pristine }"
                                required>
                                <!--<span class="text-danger" ng-show="errorCompanyname">{{errorCompanyname}}</span>-->
                                <span class="valid-text" ng-show="userForm.companyName.$dirty && userForm.companyName.$invalid">
                                    <span ng-show="userForm.companyName.$error.required">Company name is required.</span>
                                </span>
                            </div>
                            <div>
                                <label for="message">Message</label>
                                <textarea name="message" ng-model="insert.message" class="form-control" cols="30" rows="6" ng-class="{
                                'has-error' : userForm.message.$invalid && userForm.$submitted && userForm.message.$pristine }"
                                required></textarea>
                                <!--<span class="text-danger" ng-show="errorMessageF">{{errorMessageF}}</span>-->
                                <span class="valid-text" ng-show="userForm.message.$dirty && userForm.message.$invalid">
                                    <span ng-show="userForm.message.$error.required">Message is required.</span>
                                </span>
                            </div>
                            <input type="submit" name="insert" class="btnajs button-style button-style-sec-5" value="Send">
                        </form>
                    </div>
                    <div class=" sec-5-mobile col-md-3 col-sm-4 col-xs-12">
                        <p class="mobile-pad section-5-p-2">
                        US office: <br>
                        555 College Ave., <br>
                        Palo Alto, CA 94306<br><br>
                        Israel office: <br>
                        HaTaasiya 9, Tel-Aviv,<br>
                        6713909
                        </p>
                        <div class="mobile-pad social-links">
                            <!--<a href="#" target="_blank"><img src="images/HP/Facebook.svg"></a>-->
                            <a href="https://www.linkedin.com/company/18087360/" target="_blank"><img src="images/HP/Linkedin.svg"></a>
                            <a href=" https://twitter.com/Resonai_XR" target="_blank"><img src="images/HP/Twitter.svg"></a>
                            <a href=" https://www.youtube.com/channel/UCazH-YOwdjOL0yUCFrZB6pw?view_as=subscriber" target="_blank"><img
                            src="images/HP/You%20Tube.svg"></a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-6" id="news">
               <div class="container">
                    <div class="row">
                        <h1 class="section-6-h1">NEWS</h1>
                    </div>
                    <div class="row">
                        <div class="sec-6-mobile-pad col-sm-4 col-xs-12">
                            <img src="images/HP/News%201%20Image.jpg" class="section-6-img">
                            <small class="time">April 1, 2017</small>
                            <h4 class="section-6-h4"><a href="#">Lorem ipsum</a></h4>
                            <p class="section-6-p">
                                dolor sit amet, consectetur adipiscing elit.
                                Aenean euismod bibendum laoreet Proin.
                            </p>
                            <button type="button" class="btn btn-default btnajs btn-sec-6">Read more</button>
                        </div>
                        <div class="sec-6-mobile-pad col-sm-4 col-xs-12">
                            <img src="images/HP/News%202%20image.jpg" class="section-6-img">
                            <small class="time">April 1, 2017</small>
                            <h4 class="section-6-h4"><a href="#">Lorem ipsum</a></h4>
                            <p class="section-6-p">
                                dolor sit amet, consectetur adipiscing elit.
                                Aenean euismod bibendum laoreet Proin.
                            </p>
                            <button type="button" class="btn btn-default btnajs btn-sec-6">Read more</button>
                        </div>
                        <div class="sec-6-mobile-pad col-sm-4 col-xs-12">
                            <img src="images/HP/News%203%20Pic.jpg" class="section-6-img">
                            <small class="time">April 1, 2017</small>
                            <h4 class="section-6-h4"><a href="#">Lorem ipsum</a></h4>
                            <p class="section-6-p">
                                dolor sit amet, consectetur adipiscing elit.
                                Aenean euismod bibendum laoreet Proin.
                            </p>
                            <button type="button" class="btn btn-default btnajs btn-sec-6">Read more</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
