<div ng-include='"app/templates/header.html"'></div>
<section id="vera-hero" class="position-relative">
    <div class="content">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12 col-lg-6 mobile-full">
                    <div class="mr-5 absolute-vertical-center ml-lg-0 ml-4">
                        <h1>
                            Vera<sup>&trade;</sup>
                        </h1>
                        <p class="m-vertical-medium mr-5 pr-4">
                            Transforms Any Building Into an Intelligent Digital Space to Enable Mobile AR Apps with Endless Possibilities
                        </p>
                        <a class="btn btn-primary" href="index.php#!/contactUs" role="button">Contact Us for Demo</a>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="hero-container"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="vera-business">
    <div class="container py-md-5 py-4">
        <div class="row no-gutters py-md-5 justify-content-center align-items-center">
            <div class="col-md-6 col-12 text-right">
                <div class="text-left">
                    <img class="w-75" src="images/home/business/vera_flow_diagram.png" />
                </div>
            </div>
            <div class="col-md-6 col-12 text-md-left text-center">
                <div class="my-5 mr-4 ml-4 mr-md-5 pr-md-5">
                    <p class="h2">Vera Provides Advanced AI & AR Technology to Solve Real Business Problems Today.</p>
                    <p class="my-5">One platform with access to multiple solutions that can scale across locations and provide real time data analytics & insights.</p>
                    <p><a target="_blank" class="btn btn-primary mb-md-0" href="index.php#!/whitepaper">Download Vera White Paper</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="solutions">
    <div class="container p-3 py-lg-5 px-lg-0">
        <div class="col-12 mb-4 mb-lg-5">
            <h2 class="h2 my-3">Solutions</h2>
        </div>
        <div class="row no-gutters py-lg-5 justify-content-center">
            <div class="col-12 col-lg-4 px-3">
                <div class="img-wrapper pb-3">
                    <img class="panel-rounded" src="/images/home/solutions/fm-thumb.jpg" />
                </div>
                <p class="h3 mt-3 mt-lg-5 mb-3 mb-lg-4">Facilities Management</p>
                <ul class="mb-5 pl-4">
                    <li>Lower maintenance costs</li>
                    <li>Improve tenant satisfaction</li>
                    <li>Increase building efficiencies</li>
                </ul>
            </div>
            <div class="col-12 col-lg-4 px-3">
                <div class="img-wrapper pb-3">
                    <img class="panel-rounded" src="/images/home/solutions/retail.jpg" />
                </div>
                <p class="h3 mt-3 mt-lg-5 mb-3 mb-lg-4">Retail</p>
                <ul class="mb-5 pl-4">
                    <li>Increase engagement</li>
                    <li>Drive sales conversions</li>
                    <li>Automate visual merchandising</li>
                    <li>Gain new shopper insights</li>
                </ul>
            </div>
            <div class="col-12 col-lg-4 px-3">
                <div class="img-wrapper pb-3">
                    <img class="panel-rounded" src="/images/home/solutions/CES2020_1.jpg" />
                </div>
                <p class="h3 mt-3 mt-lg-5 mb-3 mb-lg-4">Entertainment</p>
                <ul class="mb-5 pl-4">
                    <li>Extend brands into physical venues</li>
                    <li>Create engaging AR games</li>
                    <li>Access new analytics &amp; insights</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="facilities-management" class="section-highlights">
    <div class="container py-4">
        <div class="row no-gutters py-md-4">
            <div class="col-12 headline pt-5 pb-md-5">
                <p class="h2">Vera for Facilities Management</p>
                <p class="pt-4 w-50">Vera can automate processes to lower costs for building maintenance, while providing smarter buildings and more delightful experiences for tenants and visitors.</p>
            </div>
            <div class="col-12 col-lg-6 py-3 py-lg-4 order-0 text-right w-90">
                <div class="text-left" ng-controller="popupVideo">
                    <span ng-click="openContactForm($event)" class="video-thumb" data="https://www.youtube.com/embed/-t85x8gbqK4">
                        <img class="img-fluid panel-rounded" src="/images/home/management/ticketing-video-thumb.png" alt="Building AR: Vera apps in our office building" />
                    </span>
                </div>
            </div>
            <div class="col-12 col-lg-6 py-3 py-lg-4 px-3 px-lg-5 order-1">
                <ul ng-init="activePanel = 0" class="ml-3">
                    <li ng-class="{ active: activePanel == 0 }">
                        <p class="h3 clicky" ng-click="activePanel = 0">Smart Ticketing & Navigation</p>
                        <P class="py-2 info">Simply point a mobile device at the item that needs repair and the problem is logged, maintenance data is retrieved and AR navigation directions are sent to technician. See ‘behind walls’ to find and make repairs more efficiently.</P>
                    </li>
                    <li ng-class="{ active: activePanel == 1 }">
                        <p class="h3 clicky" ng-click="activePanel = 1">AR Training &amp; AR Manuals</p>
                        <P class="py-2 info">Provide employees with engaging & more personalized training, offer AR tutorials for a range of office equipment. Inject AR content remotely to decrease the cost of updating materials.</p>
                    </li>
                    <li ng-class="{ active: activePanel == 2 }">
                        <p class="h3 clicky" ng-click="activePanel = 2">Digital Concierge &amp; AR Navigation</p>
                        <P class="py-2 info">Provide access control and AR navigation instructions anywhere in your building for employees, tenants & visitors.</P>
                    </li>
                    <li ng-class="{ active: activePanel == 3 }">
                        <p class="h3 clicky" ng-click="activePanel = 3">IoT controllers</p>
                        <P class="py-2 info">Provide a more delightful, seamless work environment with one app to control all smart devices including monitors, HVAC systems, video conference devices, light switches and more.</P>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section id="retail" class="section-highlights">
    <div class="container py-2">
        <div class="row no-gutters py-md-4">
            <div class="col-12 headline pt-5 pb-md-5">
                <p class="h2">Vera for Retail</p>
                <p class="pt-4 w-50">AR transforms physical stores into engaging digital experiences, while collecting data analytics that inform product flows and business processes.</p>
            </div>
            <div class="col-12 col-lg-6 py-3 py-lg-4 text-right w-90 order-0 order-md-1">
                <div class="img-wrapper mr-4">
                    <img class="panel-rounded img-fluid" src="/images/home/retail/retail.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-6 py-3 py-lg-4 pr-lg-5 order-1 order-md-0">
                <div class="ml-4 ml-md-0">
                    <ul class="ml-lg-5" ng-init="activeRetailPanel = 0">
                        <li ng-class="{ active: activeRetailPanel == 0 }">
                            <p class="h3 clicky" ng-click="activeRetailPanel = 0">Smart Visual Merchandising</p>
                            <p class="py-2 info">Save time and money in testing merchandising strategies for product placements, displays, and signage. Provide more engaging and visual merchandising instructions to each location & ensure store compliance.</p>
                        </li>
                        <li ng-class="{ active: activeRetailPanel == 1 }">
                            <p class="h3 clicky" ng-click="activeRetailPanel = 1">Analytics &amp; Data Insights</p>
                            <p class="py-2 info">Access a deeper level of in store data including traffic flow, traffic patterns, hot spots, and zone behaviors. Combine with other data to create a more complete shopper journey.</p>
                        </li>
                        <li ng-class="{ active: activeRetailPanel == 2 }">
                            <p class="h3 clicky" ng-click="activeRetailPanel = 2">AR Navigation &amp; Product Discovery</p>
                            <p class="py-2 info">Provide unique, more personalized shopping experiences to key customer segments. Inject promotions with utmost precision as consumers navigate stores.</p>
                        </li>
                        <li ng-class="{ active: activeRetailPanel == 3 }">
                            <p class="h3 clicky" ng-click="activeRetailPanel = 3">AR Brand Experiences</p>
                            <p class="py-2 info">Create immersive AR experiences to Increase consumer engagement with brands. Provide seasonal experiences and special promotions.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="entertainment" class="section-highlights">
    <div class="container pt-3 pb-2 pb-lg-3 my-3">
        <div class="row no-gutters py-md-4">
            <div class="col-12 headline pt-5 pb-md-5">
                <p class="h2">Vera for Entertainment</p>
                <p class=""><!--PLACE FOR SUBHEADER. DO NOT REMOVE--></p> 
            </div>
            <div class="col-12 col-lg-6 py-3 py-lg-4 px-lg-5 order-1">
                <div class="ml-4">
                <ul ng-init="activeEntertainmentPanel = 0" class="ml-3">
                    <li ng-class="{ active: activeEntertainmentPanel == 0 }">
                        <p class="h3 clicky" ng-click="activeEntertainmentPanel = 0">AR Gaming</p>
                        <p class="py-2 info">Create new AR games or promote existing titles to engage consumers longer with lobby entertainment, as they stand in lines at theme parks or when they navigate shopping malls.</p>
                    </li>
                    <li ng-class="{ active: activeEntertainmentPanel == 1 }">
                        <p class="h3 clicky" ng-click="activeEntertainmentPanel = 1">AR Brand Engagement</p>
                        <p class="py-2 info">Extend brands into any physical location and create unique AR experiences in shopping malls, theaters, theme parks and more.</p>
                    </li>
                    <li ng-class="{ active: activeEntertainmentPanel == 2 }">
                        <p class="h3 clicky" ng-click="activeEntertainmentPanel = 2">Analytics &amp; Data Insights</p>
                        <p class="py-2 info">Gain a deeper understanding with data insights as consumers interact with games, navigate venues, interact with content and products.</p>
                    </li>
                </ul>
            </div>
            </div>
            <div class="col-12 col-lg-6 py-3 py-lg-4 order-0 text-right w-90">
                <div class="text-left" ng-controller="popupVideo">
                    <span ng-click="openContactForm($event)" class="video-thumb w-100" data="https://www.youtube.com/embed/aFHoJvKim8w">
                        <img class="img-fluid panel-rounded w-100" src="/images/home/entertainment/CES2020_2.png" alt="Building AR: Vera apps in our office building" />
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
            
<section ng-controller="scrollHorizontal" id="created-on-vera">
    <div class="position-relative container pb-lg-4 mb-lg-1">
        <div class="container py-lg-4">
            <div class="row headline no-gutters pb-4 py-lg-5">
                <p class="h2">Created on Vera</p>
            </div>
        </div>
        <div ng-mousedown="setMouseDown($event)" ng-mouseup="setMouseUp($event)" ng-mousemove="movePanel($event)" class="row container mx-auto no-gutters no-wrap py-lg-5 pl-4 pl-lg-0 my-lg-1 text-center scrollable">
            <div ng-click="doScrollLeft($event)" class="action-control go-left inactive">
                <i class="far fa-chevron-left"></i>
            </div>
            <div ng-click="doScrollRight($event)" class="pl-2 action-control go-right">
                <i class="far fa-chevron-right"></i>
            </div>
            <div class="col col-3">
                <div class="mx-3" ng-controller="popupVideo">
                <span ng-click="openContactForm($event)" class="video-thumb" data="https://www.youtube.com/embed/DiTfJTByFek">
                    <img class="img-fluid panel-rounded" src="images/home/created/vera-video-thumb.jpg" alt="Building AR: Vera apps in our office building" />
                </span>
                </div>
            </div>
            <div class="col col-3">
                <div class="mx-3" ng-controller="popupVideo">
                <span ng-click="openContactForm($event)" class="video-thumb" data="https://www.youtube.com/embed/fQES9O65Llw">
                    <img class="img-fluid panel-rounded" src="/images/home/created/iot-video-thumb.jpg" alt="Conference room IoT" />
                </span>
                </div>
            </div>
            <div class="col col-3">
                <div class="mx-3" ng-controller="popupVideo">
                <span ng-click="openContactForm($event)" class="video-thumb" data="https://www.youtube.com/embed/WG4MnbC70dQ">
                    <img class="img-fluid panel-rounded" src="/images/home/created/coffee-video-thumb.png" alt="AR tutorials: How to make coffee" />
                </span>
                </div>
            </div>
            <div class="col col-3">
                <div class="mx-3" ng-controller="popupVideo">
                <span ng-click="openContactForm($event)" class="video-thumb" data="https://www.youtube.com/embed/g7xCL8uNTGQ ">
                    <img class="img-fluid panel-rounded" src="images/home/created/shooter-video-thumb.png" alt="AR gaming: Shooter live demo" />
                </span>
                </div>
            </div>
        </div>
    </div>
</section>

<section ng-controller="scrollHorizontal" id="press" class="pb-lg-3">
    <div class="position-relative container mb-lg-5 py-lg-5">
        <div class="container py-4">
            <div class="row headline no-gutters py-lg-5">
                <p class="h2">Press</p>
            </div>
        </div>
        <div ng-mousedown="setMouseDown($event)" ng-mouseup="setMouseUp()" ng-mousemove="movePanel($event)" 
            class="row container mx-auto no-gutters no-wrap py-lg-4 mb-2S scrollable">
            <div ng-click="doScrollLeft($event)" class="action-control go-left inactive">
                <i class="far fa-chevron-left"></i>
            </div>
            <div ng-click="doScrollRight($event)" class="pl-2 action-control go-right">
                <i class="far fa-chevron-right"></i>
            </div>
            <div class="col col-3">
                <div class="panel-rounded px-5 py-4 mx-3">
                    <div class="logo"><img src="/images/home/press/ARPost@2x.png" alt="AR Post"></div>
                    <p class="py-3">How Augmented Reality Will Transform the Modern Workforce</p>
                    <div class="btn-wrapper">
                        <a class="btn btn-invert" target="_blank" href="https://arpost.co/2020/05/04/resonai-augmented-reality-modern-workforce/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="panel-rounded px-5 py-4 mx-3">
                    <div class="logo"><img src="/images/home/press/Big-Insider-thin@2x.png" alt="AR insider"></div>
                    <p class="py-3">Can Immersive Tech Save Industry Events?</p>
                    <div class="btn-wrapper">
                        <a class="btn btn-invert" target="_blank" href="https://arinsider.co/2020/03/25/can-immersive-tech-save-industry-events/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="panel-rounded px-5 py-4 mx-3">
                    <div class="logo"><img src="/images/home/press/Digital-Journal-NEW@2x.png" alt="Digital journal"></div>
                    <p class="py-3">AR and Digital Twins' Impact on Real Estate</p>
                    <div class="btn-wrapper">
                        <a class="btn btn-invert" target="_blank" href="http://www.digitaljournal.com/business/q-a-ar-and-digital-twins-are-impacting-on-real-estate/article/568343#ixzz6GIAb1yJG">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="panel-rounded px-5 py-4 mx-3">
                    <div class="logo"><img src="/images/home/press/marketscale@2x.png" alt="MarketScale"></div>
                    <p class="py-3">Revolutionizing Facility Management and Retail Spaces Through Analytics</p>
                    <div class="btn-wrapper">
                        <a class="btn btn-invert" target="_blank" href="https://marketscale.com/industries/building-management/videos-building-management/revolutionizing-facility-management-and-retail-spaces-through-analytics/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="panel-rounded px-5 py-4 mx-3">
                    <div class="logo"><img src="/images/home/press/SA-web-logo-300x58@2x.png" alt="Silicon ANGLE"></div>
                    <p class="py-3"> CJ 4DPLEX &amp; Resonai Join to Push the AR Envelope for Entertainment</p>
                    <div class="btn-wrapper">
                        <a class="btn btn-invert" target="_blank" href="https://siliconangle.com/2020/01/07/resonai-cj-4dplex-push-envelope-augmented-reality-entertainment/">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="panel-rounded px-5 py-4 mx-3">
                    <div class="logo"><img src="/images/home/press/marketsinsider@2x.png" alt="Markets Insider"></div>
                    <p class="py-3">CJ 4DPLEX Partners with Resonai to Offer Immersive AR Experiences</p>
                    <div class="btn-wrapper">
                        <a class="btn btn-invert" target="_blank" href="https://markets.businessinsider.com/news/stocks/cj-4dplex-partners-with-resonai-to-offer-consumers-immersive-ar-brand-experiences-in-movie-theatres-shopping-malls-and-retail-spaces-1028800544">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="panel-rounded px-5 py-4 mx-3">
                    <div class="logo"><img src="/images/home/press/logo_business_insider@2x.png" alt="Business Insider"></div>
                    <p class="py-3">Founder Who Launched Facebook Acquired Company is Back</p>
                    <div class="btn-wrapper">
                        <a class="btn btn-invert" target="_blank" href="https://www.businessinsider.com/facebook-vr-entrepreneur-brings-augmented-reality-commercial-real-estate-resonai-2019-11">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="panel-rounded px-5 py-4 mx-3">
                    <div class="logo"><img src="/images/home/press/aithority_logo1@2x.png" alt="AI authority"></div>
                    <p class="py-3">Resonai Launches Vera, to Create Intelligent Digital Twins of Buildings</p>
                    <div class="btn-wrapper">
                        <a class="btn btn-invert" target="_blank" href="https://www.aithority.com/technology/augmented-reality/resonai-launches-vera-to-create-intelligent-digital-twins-of-buildings-enabling-ar-apps-experiences-not-previously-possible/">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

