    <div ng-include='"app/templates/header.html"' class="other-menu"></div>
    <div class="resonai-content py-5">
        <div class="jobs-page py-md-5">
            <div class="container">
                <div class="row">
                    <section class="sec-1 desktop-sec-1 py-5 col-md-6 col-12">
                        <h1 class="pb-3">Do big things. <span class="tablet-break">Join Resonai.</span></h1>

                        <p>
                            <strong>Creating the future.</strong><br />
                            If you want to be a part of something big, now is your time and this is your place. Our vision for augmented reality goes beyond game-changing experiences – for us, it’s about changing people’s lives in meaningful ways.
                            <br /><br />
                            <strong>Challenges worthy of your talents – and passions.</strong><br/>
                            You get to do what you love here, while working on tough problems in impactful, cutting-edge fields, each and every day.
                            <br /><br />
                            <strong>A seat at the table.</strong><br />
                            You can make a difference, from the common everyday decisions to pivotal, strategic ones. Whether you’re the founder or a first-day hire, you are essential to our success.
                            <br /><br />
                            <strong>People that bring out the best in you.</strong><br />
                            We’re building a company that attracts the very best. And we seek those who aren’t just accomplished in their field, but ones who can make our whole team better. And the kind of folks you just enjoy being around.
                            <br /><br />
                            <strong>Where life and work just...work.</strong><br />
                            Life and work go hand in hand. We believe in fostering a supportive and flexible environment where you can do great work, grow in your career, and live life to the fullest.
                            <br /><br />
                            If this is your kind of place, check out our open positions or just let us know what you’re interested in doing at <a href="mailto:jobs@resonai.com" class="mail-send">jobs@resonai.com</a>.
                            <br /><br />
                            <strong>About Resonai</strong><br />
                            Founded in 2014, Resonai is backed by private investors and headquartered in Tel Aviv. Our U.S. office is in the heart of Silicon Valley in Palo Alto, California.
                        </p>

                        <!--<h1>About Resonai</h1>
                        <p>  Resonai is dedicated to power the future of visual perception, and
                           any machine that needs to understand its environment in real time. <br><br>
                           We've built a work environment that brings together the best talent
                           from mathematics, physics, brain science, computer science, machine learning, business and management.
                           Together, we dissolve barriers
                           between people and technology.
                           <br><br>
                           We embrace and encourage intellectual curiosity, collaboration,
                           hard work, focus on making things happen, challenging of perceptions,
                           and kindness.
                           <br><br>
                           We value the importance of a flexible and healthy work-life balance.
                           <br><br><br>
                           <span class="contact">Contact us at</span> <a href="mailto:jobs@resonai.com"
                           class="mail-send">jobs@resonai.com</a>
                        </p>-->
                    </section>
                    <div class="col-md-6 mh-250 top-0 py-md-5 col-12" ng-controller="jobs">
                     <section ng-init="showSec1 = true" class="sec-2">
                        <h1 class="h1-right-para pb-3">Open Positions</h1>
                        <div class="mt-2 mb-3">

                          <span class="positions-style py-1 mr-4 mb-2 math-position-link line mimic-anchor d-block d-md-inline" ng-class="{ active: showSec1 == true }" ng-click="showSec1=true; showSec2=false;
                          showSec3=false; showSec4=false; showSec5=false;">Mathematicians </span>
                          <span class="positions-style py-1 mr-4 mb-2 line mimic-anchor d-block d-md-inline" ng-class="{ active: showSec2 == true }" ng-click="showSec2=true; showSec1=false; showSec3=false;
                          showSec4=false; showSec5=false;">Software developers</span>
                            <span class="positions-style py-1 mb-2 mt-1 line mimic-anchor d-block d-md-inline-block ws-nowrap" ng-class="{ active: showSec3 == true }" ng-click="showSec2=false; showSec1=false; showSec3=true;
                          showSec4=false; showSec5=false;">Global sales manager</span>

                        </div>
                    </section>
                    <section class="sec-3 position-absolute" ng-show="showSec1">
                        <!--<h1 class="h1-right-para">Mathematicians</h1>-->
                        <p class="h1-right-para right-para-text">PhD with deep-level knowledge in at least one field of
                            math (e.g. Ergodic theory, algebraic topology, probability). High skills in software programming,
                            ability to learn new software languages, and development methodologies. Willingness and ability
                            to participate in all aspects of development, software programming, and product design. <br>Based in
                            Tel Aviv, Israel.</p>
                        <div class="jobs-form jobs-form-3-se">
                            <h2>Apply now</h2>
				            <jobsform />
                        </div>
                        <!--<span class="positions-back-style mimic-anchor" ng-click="showSec1=false">Back to open positions</span>-->
                    </section>
                    <section class="sec-3 position-absolute ng-hide" ng-show="showSec2">
                        <!--<h1 class="h1-right-para">Software developers</h1>-->
                        <p class="h1-right-para right-para-text">
                        Passion for math, algorithms and software engineering.
                        Strong background in math and algorithms.
                        Ability to program in any language.
                        Willingness and ability to participate in all aspects of development,
                        from mathematical theory all the way to product design.
                        <br>Based in Tel Aviv, Israel.</p>
                        <div class="jobs-form jobs-form-3-se">
				            <h2>Apply now</h2>
				            <jobsform />
                        </div>
                        <!--<a class="positions-back-style mimic-anchor" ng-click="showSec2=false">Back to open positions</a>-->
                    </section>
                    <section class="sec-3 position-absolute ng-hide" ng-show="showSec3">
                        <!--<h1 class="h1-right-para">Mathematicians</h1>-->
                        <p ng-controller="popupVideo" class="h1-right-para right-para-text">Looking for a brilliant sales manager to bring
                            <span ng-click="openContactForm($event)" class="mimic-anchor" data="https://www.youtube.com/embed/C1bQQYQn7Vc">
                                Animaker
                            </span>
                            to new locations worldwide. Animaker enables artists to incorporate AI in their creations,
                            inspiring imagination, curiosity, and creativity in people of all ages. You’re passionate about
                            art and technology, love sales, and have excellent interpersonal and project management skills.
                            BA/BS degree with 3-4 years in sales, preferably in the arts or events. Willing to travel.
                            <br>Based in Palo Alto, California. <br><a target="_blank" href="https://www.linkedin.com/jobs/view/1189579420/">View full description</a></p>
                        <div class="jobs-form jobs-form-3-se">
                            <h2>Apply now</h2>
                            <jobsform />
                        </div>
                        <!--<span class="positions-back-style mimic-anchor" ng-click="showSec1=false">Back to open positions</span>-->
                    </section>
                    </div>
                    <!--<section class="sec-1 mobile-sec-1 col-12">-->
                        <!--<h1 class="mobile-sec-1-h1">ABOUT RESONAI</h1>-->
                        <!--<p class="bkg-img">Resonai is dedicated to power the future of visual perception, and-->
                           <!--any machine that needs to understand its environment in real time. <br><br>-->
                           <!--We've built a work environment that brings together the best talent-->
                           <!--from mathematics, physics, brain science, computer science, machine learning, business and management.-->
                           <!--Together, we dissolve barriers-->
                           <!--between people and technology.-->
                           <!--<br><br>-->
                           <!--We embrace and encourage intellectual curiosity, collaboration,-->
                           <!--hard work, focus on making things happen, challenging of perceptions,-->
                           <!--and kindness.-->
                           <!--<br><br>-->
                           <!--We value the importance of a flexible and healthy work-life balance.-->
                           <!--<br><br><br>-->
                           <!--<span class="contact">Contact us at</span> <a href="mailto:jobs@resonai.com"-->
                           <!--class="mail-send">jobs@resonai.com</a>-->
                        <!--</p>-->
                    <!--</section>-->
                </div>
            </div>
        </div>
    </div>
