    <link type="text/css" rel="stylesheet" href="css/menu.css">
    <div class="resonai-content">
        <div class="jobs-page">
            <div class="container">
                <div class="row">
                    <section class="sec-1 desktop-sec-1 col-sm-6">
                        <h1>ABOUT RESONAI</h1>
                        <p>Resonai is dedicated to power the future of visual perception, and
                           any machine that needs to understand its environment in real time. <br><br>
                           We've built a work environment that brings together the best talent
                           from mathematics, physics, brain science, computer science, machine learning, business and management. 
                           Together, we dissolve barriers
                           between people and technology.
                           <br><br>
                           We embrace and encourage intellectual curiosity, collaboration,
                           hard work, focus on making things happen, challenging of perceptions,
                           and kindness.
                           <br><br>
                           We value the importance of a flexible and healthy work-life balance.
                           <br><br><br>
                           <span class="contact">Contact us at</span> <a href="mailto:jobs@resonai.com" 
                           class="mail-send">jobs@resonai.com</a>
                        </p>
                    </section> 
                    <div ng-controller="jobs">
                    <section class="sec-2 col-sm-6 col-xs-12" ng-hide="showSec1 || showSec2 || showSec3">
                        <h1 class="h1-right-para">OPEN POSITIONS</h1>
                        <div >
                        <button class="positions-style math-position-link line col-xs-12" ng-click="showSec1=true; showSec2=false; 
                        showSec3=false; hideMe()" >Mathematician <span class="position-etc"><img src="images/jobs/arrow.svg"></span>
                        </button>
                        <button class="positions-style line col-xs-12" ng-click="showSec2=true; showSec1=false; showSec3=false; 
                        hideMe()">Software developer <span class="position-etc"><img 
                        src="images/jobs/arrow.svg"></span></button>
                        <button class="positions-style line col-xs-12" ng-click="showSec3=true; showSec1=false; showSec2=false; 
                        hideMe()"> Sales Engineer <span class="position-etc"><img 
                        src="images/jobs/arrow.svg"></span></button>
                        </div>  
                    </section> 
                    <section class="sec-3 col-sm-6 col-xs-12" ng-show="showSec1">
                        <h1 class="h1-right-para">MATHEMATICIAN</h1>
                        <p class="h1-right-para right-para-text">PhD with deep level knowledge in at least one field of math (e.g 
                        Ergodic Theory, Algebric topplogy, Probability). High skills in software programming, ability to learn new 
                        software languages and development methodologies. Willingness and ability to participate in all aspects of 
                        development, software programming and product design.</p> 
                        <div class="jobs-form">
                            <h2>Apply now</h2>
				            <jobsform />
                        </div> 
                        <button class="positions-back-style" ng-click="showSec1=false">Back to open positions</button>
                    </section>   
                    <section class="sec-3 col-sm-6 col-xs-12" ng-show="showSec2">
                        <h1 class="h1-right-para">SOFTWARE DEVELOPER</h1>
                        <p class="h1-right-para right-para-text">
                        Passion for math, algorithms and software engineering. 
                        Strong background in math and algorithms. 
                        Ability to program in any language. 
                        Willingness and ability to participate in all aspects of development, 
                        from mathematical theory all the way to product design.</p> 
                        <div class="jobs-form">
				            <h2>Apply now</h2>
				            <jobsform />
                        </div> 
                        <button class="positions-back-style" ng-click="showSec2=false">Back to open positions</button>
                    </section>     
                    <section class="sec-3 col-sm-6 col-xs-12" ng-show="showSec3">
                        <h1 class="h1-right-para"> SALES ENGINEER</h1>
                        <p class="h1-right-para right-para-text ">Software engineer with 2 years experience in pre-sales and/or 
                        customer support, to support our “Resonai Visual search for Unity” product. This is a position for a person 
                        who is both technically strong and has interests in user support and business development. Strong technical 
                        and presentation skills, and ability to build rapport with customers and internal teams are required. 
                        The position is based in our office in Palo Alto, California.
                        </p> 
                        <div class="jobs-form jobs-form-3-se">
				            <h2>Apply now</h2>
				            <jobsform />
                        </div> 
                        <button class="positions-back-style" ng-click="showSec3=false">Back to open positions</button>
                    </section>
                    </div>     
                    <section class="sec-1 mobile-sec-1 col-xs-12">
                        <h1 class="mobile-sec-1-h1">ABOUT RESONAI</h1>
                        <p class="bkg-img">Resonai is dedicated to power the future of visual perception, and
                           any machine that needs to understand its environment in real time. <br><br>
                           We've built a work environment that brings together the best talent
                           from mathematics, physics, brain science, computer science, machine learning, business and management. 
                           Together, we dissolve barriers
                           between people and technology.
                           <br><br>
                           We embrace and encourage intellectual curiosity, collaboration,
                           hard work, focus on making things happen, challenging of perceptions,
                           and kindness.
                           <br><br>
                           We value the importance of a flexible and healthy work-life balance.
                           <br><br><br>
                           <span class="contact">Contact us at</span> <a href="mailto:jobs@resonai.com" 
                           class="mail-send">jobs@resonai.com</a>
                        </p>
                    </section>              
                </div>  
            </div>  
        </div> 
    </div>  
