<footer class="desktop-footer pt-5">
    <div class="footer container">
        <div class="row">
            <div class="col-md-8 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-4 col-12 pb-4">
                        HQ – Tel Aviv<br />
                        HaTa’asiya 9, Tel Aviv<br />
                        6713909
                    </div>
                    <div class="col-md-4 col-12 pb-4">
                        Silicon Valley<br />
                        555 College Ave.<br />
                        Palo Alto, CA 94306
                    </div>
                    <div class="col-md-4 col-12 pb-4">
                        <div class="row justify-content-md-end justify-content-start">
                            <div class="col-auto align-self-end"><img height="auto" width="36" class="py-3" src="images/icon-placeholder.png" alt="placeholder" /></div>
                            <div class="col-auto align-self-end"><img height="auto" width="36" class="py-3" src="images/icon-placeholder.png" alt="placeholder" /></div>
                            <div class="col-auto align-self-end"><img height="auto" width="36" class="py-3" src="images/icon-placeholder.png" alt="placeholder" /></div>
                        </div>
                    </div>
                    <div class="col py-5">
                        <p>&copy; 2018, All rights reserved to Resonai</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>   