<footer class="desktop-footer pt-5">
    <div class="footer container">
        <div class="row">
            <div class="col-md-8 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-4 col-12 pb-4">
                        <strong>HQ – Tel Aviv</strong><br />
                        HaTa’asiya 9, Tel Aviv<br />
                        6713909
                    </div>
                    <div class="col-md-4 col-12 pb-4">
                        Silicon Valley<br />
                        555 College Ave.<br />
                        Palo Alto, CA 94306
                    </div>
                    <div class="col-md-4 col-12 pb-4">
                        <div class="row justify-content-md-end justify-content-start">
                            <div class="col-auto social align-self-end">
                                <a target="_blank" href="https://twitter.com/Resonai_XR">
                                    <img height="auto" width="28" class="py-3" src="images/Social-twitter.svg" alt="placeholder" />
                                </a>
                            </div>
                            <div class="col-auto social align-self-end">
                                <a target="_blank" href="https://www.youtube.com/channel/UCazH-YOwdjOL0yUCFrZB6pw?view_as=subscriber">
                                    <img height="auto" width="28" class="py-3" src="images/Social-youtube.svg" alt="placeholder" />
                                </a>
                            </div>
                            <div class="col-auto social align-self-end">
                                <a target="_blank" href="https://www.linkedin.com/company/18087360/">
                                    <img height="auto" width="28" class="py-3" src="images/Social-linkedin.svg" alt="placeholder" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col py-5">
                        <p>&copy; 2018, All rights reserved to Resonai</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>   