<header class="header">
    <nav class="navbar navbar-expand-lg bg-light-o-80 py-0 fixed-top mobile-bottom">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container pb-1">
            <a class="navbar-brand position-relative" href="index.php#!/home#discover-new-realities" du-smooth-scroll du-scrollspy>
                <img class="nav-logo" alt="Resonai" src="images/logo_header.png">
            </a>
            <!--<a class="navbar-brand logo-mobile" href="index.php#!/home#home" du-smooth-scroll du-scrollspy><img alt="Resonai" src="images/logo-mobile.png"></a>-->
            <button class="navbar-toggler mt-1 collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pt-1 flex-grow-1 text-right" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto flex-nowrap">
                    <li class="nav-item px-4 py-2"><a class="nav-link" href="index.php#!/home#iRocket" du-smooth-scroll du-scrollspy>iRocket for AR</a></li>
                    <li class="nav-item px-4 py-2"><a class="nav-link" href="index.php#!/home#visual-search" du-smooth-scroll du-scrollspy>3D Visual Search</a></li>
                    <li class="nav-item px-4 py-2"><a class="nav-link" href="index.php#!/jobs" du-smooth-scroll du-scrollspy>Jobs</a></li>
                    <li class="nav-item d-none d-md-inline-block pl-4 py-2"><a class="btn btn-primary" href="index.php#!/contactUs" role="button">Request a demo</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</header>
            
